@charset "UTF-8";
/* Variablendefinitionen, die
   über die Dateien hinweg gültig sein sollen
*/
/* line 4, ../sass/320_480_hoch.scss */
#menu_gross {
  visibility: hidden;
  display: none;
}

/* line 8, ../sass/320_480_hoch.scss */
#menu_mittel {
  visibility: hidden;
  display: none;
}

/* line 12, ../sass/320_480_hoch.scss */
.menu_klein {
  visibility: visible;
  display: inline;
}

/* line 16, ../sass/320_480_hoch.scss */
.menu_klein {
  float: right;
  width: 100%;
  height: 40px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  border: 2px solid red;
}

/* 
*** Leave the display-tags above as they are to show and hide 3 different menu-modules. 
Publish the menu-modules in the following positions:  
menu_gross --- > modules=menu 
menu_mittel ---> modules=menu1
menu_klein ---> modules=menu2
 *** 
 */
/* line 36, ../sass/320_480_hoch.scss */
html {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

/* line 43, ../sass/320_480_hoch.scss */
body {
  height: 100%;
  background-image: none;
}

/* line 48, ../sass/320_480_hoch.scss */
#inhalt {
  width: 100%;
  padding-bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 200;
}

/* line 57, ../sass/320_480_hoch.scss */
#header {
  width: 100%;
  height: 100px;
  padding: 0;
  position: relative;
  top: 0;
  background-image: url(/images/site/hg_rot.png);
  background-repeat: repeat-x;
  background-position: 0 -200px;
}
/* line 66, ../sass/320_480_hoch.scss */
#header #logo {
  height: 100%;
  width: auto;
  top: 0;
  left: 70%;
  float: right;
  background-color: pink;
}
/* line 75, ../sass/320_480_hoch.scss */
#header #logo a {
  position: relative;
}
/* line 78, ../sass/320_480_hoch.scss */
#header #logo img {
  position: absolute;
  float: left;
  overflow: hidden;
  top: -25px;
  left: 0;
  height: 150px;
  clip: rect(24px, 78px, 125px, 0px);
}

/* line 89, ../sass/320_480_hoch.scss */
#_nav, #fontsize, #body1 {
  display: none;
}

/* line 94, ../sass/320_480_hoch.scss */
ul.menu_top {
  display: none;
  float: right;
  z-index: 2003;
  position: relative;
  top: auto;
  width: auto;
  border: 0px solid green;
  transition: all 0.5s ease;
  right: -85px;
  border-left: 20px solid #ae1f2e;
}
/* line 108, ../sass/320_480_hoch.scss */
ul.menu_top:hover {
  right: 0px;
}
/* line 111, ../sass/320_480_hoch.scss */
ul.menu_top li {
  float: none;
  text-align: right;
  background-color: white;
}
/* line 116, ../sass/320_480_hoch.scss */
ul.menu_top li a:link, ul.menu_top li a:visited {
  border-width: 0;
}

/* line 122, ../sass/320_480_hoch.scss */
.item-page {
  width: 100%;
}
/* line 124, ../sass/320_480_hoch.scss */
.item-page p.buttonheading {
  display: none;
}
/* line 127, ../sass/320_480_hoch.scss */
.item-page h1 {
  position: relative;
}

/* line 132, ../sass/320_480_hoch.scss */
#nav {
  width: 100%;
  top: 100px;
  left: 0px;
}

/*/ small Navigation - menu /*/
/* line 142, ../sass/320_480_hoch.scss */
#ojaccord-menu {
  position: relative;
  top: 0px;
  left: 0px;
  min-height: 20px;
}
/* line 148, ../sass/320_480_hoch.scss */
#ojaccord-menu ul {
  display: none;
}
/* line 151, ../sass/320_480_hoch.scss */
#ojaccord-menu:hover ul {
  display: block;
}

/* line 159, ../sass/320_480_hoch.scss */
#ojaccord-menu {
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  display: block;
}
/* line 166, ../sass/320_480_hoch.scss */
#ojaccord-menu p.active {
  color: #ffffff;
}
/* line 168, ../sass/320_480_hoch.scss */
#ojaccord-menu p.active a {
  color: #ffffff;
}
/* line 170, ../sass/320_480_hoch.scss */
#ojaccord-menu p.active a:hover {
  color: #e05362;
}
/* line 174, ../sass/320_480_hoch.scss */
#ojaccord-menu p.active:hover {
  color: #e05362;
}
/* line 178, ../sass/320_480_hoch.scss */
#ojaccord-menu p.menu_head {
  background-image: url(/images/site/rot100_menuhead.png);
  background-repeat: no-repeat;
  background-position: -7px -8px;
  cursor: pointer;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
  border-bottom: 1px solid #000000;
}
/* line 193, ../sass/320_480_hoch.scss */
#ojaccord-menu p.menu_head a {
  /* color:#26370A; */
  text-decoration: none;
  display: block;
  color: #000000;
}
/* line 199, ../sass/320_480_hoch.scss */
#ojaccord-menu p.menu_head.active:hover, #ojaccord-menu p.menu_head:hover {
  background-position: -7px -8px;
  color: white;
}
/* line 206, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body {
  display: none;
  /* border:1px solid #A1C67B; */
  border-top: 0;
  border-bottom: 0;
  background-repeat: repeat;
}
/* line 213, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 218, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li {
  margin: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-indent: 15px;
  display: block;
  list-style: none;
  /* border-left:10px double #A1C67B; */
  background-repeat: repeat;
  color: #000000;
}
/* line 231, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li ul li {
  border-left: 0;
  padding-left: 0px;
  text-indent: 20px;
}
/* line 235, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li ul li a {
  padding-left: 0px;
}
/* line 241, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li a {
  display: block;
  /* color:#000; */
  text-decoration: none;
  padding: 0px;
  /* border-bottom:1px solid #A1C67B; */
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: bold;
}
/* line 250, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li a.sub_active {
  /* color:#990000; */
  font-weight: bold;
}
/* line 255, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li li a {
  font-weight: normal;
}

/* line 262, ../sass/320_480_hoch.scss */
div.menu_list {
  list-style-type: none;
  font-weight: bold;
}

/******* SUB MENU STLE ********/
/* line 270, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body {
  border: 0x solid #ae1f2e;
}
/* line 273, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body ul {
  padding: 0px;
  margin: 0px;
}
/* line 277, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li {
  border: 0px solid #FF0000;
  padding: 0px;
  margin: 0px;
}
/* line 281, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li a {
  color: #000;
  border-bottom: 1px solid #000000;
  padding: 0px;
  margin: 0px;
}
/* line 286, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li a:hover {
  background-repeat: repeat;
  color: #ae1f2e;
}
/* line 291, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li a.sub_active {
  font-size: 1.0em;
  background-repeat: no-repeat;
  background-position: -3px 8px;
}
/* line 298, ../sass/320_480_hoch.scss */
#ojaccord-menu div.menu_body li li a.sub_active {
  background-position: 3px 8px;
}

/* line 304, ../sass/320_480_hoch.scss */
.actions {
  top: 28px;
  right: -154px;
}

/* line 309, ../sass/320_480_hoch.scss */
#header-img {
  position: absolute;
  top: 00px;
  left: -65px;
  width: auto;
}
/* line 315, ../sass/320_480_hoch.scss */
#header-img img {
  height: 100px;
  width: auto;
}

/* line 322, ../sass/320_480_hoch.scss */
#beitrag {
  position: relative;
  top: 0;
  min-height: 100%;
  padding: 40px 20px 5px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-width: 0 20px;
  border-color: gainsboro;
  left: 0;
  overflow: hidden;
}
/* line 336, ../sass/320_480_hoch.scss */
#beitrag .item-page table td {
  padding-right: 10px;
  padding-left: 0;
}
/* line 344, ../sass/320_480_hoch.scss */
#beitrag img {
  width: 100%;
  max-width: 100% !important;
  height: auto;
}

/* line 353, ../sass/320_480_hoch.scss */
#infobox {
  clear: both;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  float: none;
  z-index: 120;
  border-top: 20px solid #d4d4d4;
  padding-right: 5px;
  padding-bottom: 30px;
  width: 100%;
}
/* line 365, ../sass/320_480_hoch.scss */
#infobox table {
  width: 100%;
}
/* line 368, ../sass/320_480_hoch.scss */
#infobox #info-schalter {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #d4d4d4;
  height: 20px;
}
/* line 375, ../sass/320_480_hoch.scss */
#infobox #info-schalter * {
  float: left;
}
/* line 378, ../sass/320_480_hoch.scss */
#infobox #info-schalter img#info-kreis {
  position: relative;
  bottom: 16px;
  transition: bottom 0.5s ease;
  width: auto;
  display: block;
  left: -4px;
}
/* line 388, ../sass/320_480_hoch.scss */
#infobox div.custom tbody tr:nth-child(2) a {
  float: left;
}
/* line 391, ../sass/320_480_hoch.scss */
#infobox div.custom img {
  position: relative;
  height: auto;
  max-width: 200px;
}

/*
END
*/
