/**
 * @version		$Id: $
 * @author		Nguyen Dinh Luan
 * @package		Joomla!
 * $subpackage	Standalone Accordion Menu
 * @copyright	Copyright (C) 2008 - 2011 Joomseller. All rights reserved.
 * @license		GNU/GPL http://www.gnu.org/licenses/gpl-3.0.html, see LICENSE.txt
 * This file may not be redistributed in whole or significant part.
 */

#ojaccord-menu p.menu_head {
/*	
	background-image:url(../images/menu-green_bg.gif);
	color:#26370A;
*/
}
/*
#ojaccord-menu p.menu_head a {
	color:#26370A;
}

#ojaccord-menu p.active,
#ojaccord-menu p.active a {
	color:#6F3700;
}
#ojaccord-menu p.active:hover,
#ojaccord-menu p.active a:hover {
	color:#6F3700;
}

#ojaccord-menu div.menu_body {
	border:1px solid #A1C67B;
}

#ojaccord-menu div.menu_body li {
	border-left:10px double #A1C67B;
}

#ojaccord-menu div.menu_body li a{
	color:#000;
	border-bottom:1px solid #A1C67B;
}

#ojaccord-menu div.menu_body li a:hover {
	background: #d5e5c1;
}

#ojaccord-menu div.menu_body li a.sub_active {
	color:#990000;
}
*/