/**
 * @version		$Id: $
 * @author		Nguyen Dinh Luan
 * @package		Joomla!
 * $subpackage	Standalone Accordion Menu
 * @copyright	Copyright (C) 2008 - 2011 Joomseller. All rights reserved.
 * @license		GNU/GPL http://www.gnu.org/licenses/gpl-3.0.html, see LICENSE.txt
 * This file may not be redistributed in whole or significant part.
 */

#ojaccord-menu {
/*	width: 190px;
	margin:0px;
	padding:0px;
	margin:auto;
*/	
}

div.menu_list {	
	font-size:12px;
	list-style:none;
	font-weight:bold;
}

