---
---

html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1.0em;
  line-height: 15px;
  color: #2A3845;
  background-image: url(/images/site/hg.gif);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#body1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 313px;
  background-color: #FFFFFF;
  padding: 0px;
  margin: 0px;
  border: 0px solid #FF0000;
}

#body2 {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-image: url(/images/site/hg_rot.png);
  background-repeat: repeat-x;
}

#inhalt {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 894px;
  height: 100%;
  padding-bottom: 200px;
  margin: 0px;
  border: 0px solid #FF0000;
  z-index: 10;
}

#linie {
  position: absolute;
  top: 0px;
  left: 978px;
  width: 3px;
  height: 336px;
  background-image: url(/images/site/linie.png);
  background-repeat: no-repeat;
}

.text_rot_normal {
  font-weight: normal;
  text-align: left;
  line-height: 20px;
  color: #AE1F2E;
}

.text_rot_bold {
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  color: #AE1F2E;
}

.text_rot_kursiv {
  font-weight: normal;
  text-align: left;
  font-size: 1.1em;
  line-height: 20px;
  color: #AE1F2E;
  font-style: italic;
}

.text_klein {
  font-weight: normal;
  text-align: left;
  font-size: 0.9em;
  line-height: 1.0em;
  color: #000000;
  font-style: normal;
}

quotation {
  padding: 0 30px;
  font-size: 1.1em;
  display: block;
}

cite {
  display: block;
  text-align: right;
}

.tabelle {
  display: table;
  border-collapse: collapse;

  th {
    padding: 3px;
    vertical-align: bottom;
  }

  td {
    border: 1px solid black;
    margin: 0;
    padding: 3px;
    text-align: right;

    &.left {
      text-align: left;
    }
  }

  &.laengsstreifen td:nth-of-type(2n) {
    background-color: #ddd;
  }

  &.querstreifen tr:nth-of-type(2n) {
    background-color: #ddd;
  }

}

.preistabelle {
  white-space: nowrap;
  border: 1px solid #CCCCCC;
  padding: 0px;
  margin: 0px;
  td {
    background-color: #F5F5F5;
    border: 0px solid #DFDFDF;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 0px;
  }
}

.preistabelle2 {
  width: 100%;
  white-space: nowrap;
  border: 1px solid #CCCCCC;
  td {
    background-color: #F5F5F5;
    border: 0px solid #DFDFDF;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 0px;
  }
}

.celle_grau {
  font-weight: bold;
  text-align: left;
  font-size: 1.1em;
  line-height: 20px;
  color: #AE1F2E;
  font-style: italic;
  text-indent: 5px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #999999 !important;
  background-color: #D2D2D2 !important;
}

hr {
  border-left: 0px solid #000000;
  border-right: 0px solid #000000;
  border-top: 1px solid #CCCCCC;
  border-bottom: 0px solid #000000;
  height: 1px;
}

.item-page .header, #ojaccord-menu {
  display: none;
}

.telefonnummer {
  white-space: nowrap;
}

#beitrag #header-img {
  position: absolute;
  top: -297px;
  left: -286px;
  width: 980px;
  z-index: 100;
  padding: 0px;
  background-color: #FFFFFF;
  img {
    width: 980px;
    height: auto;
    max-width: 980px;
    max-height: 250px;
  }
}

#header {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 980px;
  height: 250px;
  border: 0px solid #FF0000;
  padding-bottom: 50px;
  margin: 0px;
}

#logo {
  position: absolute;
  top: -60px;
  left: 85px;
  width: 172px;
  height: 336px;
  border: 0px solid #FFFFFF;
  z-index: 2000;
  img {
    border-width: 0;
  }
}

#nav {
  position: absolute;
  top: 340px;
  left: 85px;
  width: 170px;
  padding: 0px;
  margin: 0px;
  border: 0px solid #FF0000;
  z-index: 1000;
  background-color: #FFFFFF;
}

ul.menu_nav {
  list-style-type: none;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 32px;
  color: #2A3845;
  padding: 0px;
  margin: 0px;
  li {
    box-sizing: border-box;
    width: 170px;
    text-transform: uppercase;
    padding: 0;
    padding-left: 13px;
    margin: 0px;
    float: left;
    text-indent: 0px;
    border: 0px solid #000066;
//    text-indent: 13px;
//     white-space: nowrap;
    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      li {
        text-transform: none;
//        text-indent: 20px;
//        height: 25px;
        padding: 5px 0 5px 30px;
//        padding-left: 30px;
        margin: 0px;
        float: left;
//        white-space: nowrap;
        border: 0px solid #FF0000;
        font-weight: bold;
        font-size: 0.8em;
        line-height: 1em;
        color: #2A3845;
      }
    }
    a {
      &:link, &:visited {
        text-decoration: none;
        color: #AE1F2E;
        width: 170px;
      }
    }
    &#current {
      background-image: url(/images/site/top_active.jpg);
      background-repeat: no-repeat;
      background-position: -5px 8px;
    }
    ul li#current {
      background-image: url(/images/site/sub_active.jpg);
      background-repeat: no-repeat;
      background-position: 8px 10px;
    }
  }
}

.menu_top {
  position: absolute;
  top: -20px;
  right: 0px;
  width: 290px;
  height: 20px;
  border: 0px solid #DFDFDF;
  padding: 0px;
  margin: 0px;
  z-index: 13;
}

ul.menu_top li {
  float: left;
  list-style-type: none;
  border: 0px solid #DFDFDF;
  height: 20px;
  a {
    &:link, &:visited {
      border-right: 1px solid #AE1F2E;
      color: #AE1F2E;
      text-decoration: none;
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 0px;
      padding-top: 0px;
      margin: 0px;
      height: 20px;
      display: block;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 0.8em;
      line-height: 18px;
    }
    &:hover {
      color: #FFFFFF;
      background-color: #AE1F2E;
    }
  }
  &:last-child a {
    border-width: 0;
  }
}

#beitrag {
  border: 0px solid #FFFFFF;
  position: relative;
  top: 340px;
  left: 285px;
  padding: 0px;
  margin: 0px;
}

.item-page, .leading, .search_result {
  width: 450px;
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.6em;
  color: #2A3845;
  padding-bottom: 50px;
  margin: 0px;
}

.item-page .passbildtabelle tr td:first-child, .leading .passbildtabelle tr td:first-child, .search_result .passbildtabelle tr td:first-child {
  min-width: 20px;
  max-width: 110px;
  width: 100px;
}

.item-page .passbildtabelle tr td:nth-of-type(2), .leading .passbildtabelle tr td:nth-of-type(2), .search_result .passbildtabelle tr td:nth-of-type(2) {
  padding-top: 6px;
}

.item-page .passbild, .leading .passbild, .search_result .passbild {
  max-width: 77px;
}

#page {
  position: relative;
}

#infobox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: normal;
  font-size: 0.7em;
  line-height: 1.1em;
  color: #2A3845;
  position: absolute;
  top: 340px;
  right: -80px;
  width: 199px;
  float: right;
  background-color: #DFDFDF;
  padding: 3px;
  margin: 0px;
  img {
    border: 0px solid #DFDFDF;
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: right;
  }
  a {
    &:link, &:visited {
      border: 0px solid #DFDFDF;
      padding: 0px;
      margin: 0px;
      width: 100%;
      float: right;
    }
  }
  table {
    padding: 0px;
    margin: 0px;
    border: 0px solid #FF0000;
    width: 100%;
    padding-bottom: 10px;
    td {
      padding: 0px;
      margin: 0px;
      border: 0px solid #FF0000;
      width: 100%;
    }
  }
  img#info-kreis {
    display: none;
  }
  .headline_infobox {
    font-weight: bold;
    text-align: left;
    line-height: 1.0em;
    color: #AE1F2E;
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 10px;
    border-bottom: 1px solid #AE1F2E;
  }
}

.actions {
  position: absolute;
  top: -28px;
  right: 60px;
  height: 30px;
  width: 200px;
  border: 0px solid #DFDFDF;
  font-weight: normal;
  text-align: right;
  font-size: 0.8em;
  li {
    list-style-type: none;
  }
  a {
    &:link, &:visited {
      text-decoration: none;
      color: #CCCCCC;
      float: left;
    }
    &:hover {
      color: #AE1F2E;
    }
  }
  img {
    float: right;
    padding: 0px;
    margin-left: 15px;
    border: 0px solid #DFDFDF;
  }
}

h2.contentheading {
  font-weight: bold;
  text-align: right;
  font-size: 1.4em;
  line-height: 1.4em;
  color: #AE1F2E;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h1 {
  font-weight: bold;
  text-align: left;
  font-size: 1.1em;
  line-height: 20px;
  color: #AE1F2E;
  letter-spacing: 0px;
}

h2 {
  line-height: 1.4em;
}

h3 {
  font-style: italic;
  color: #AE1F2E;
  font-weight: 400;
}

ul {
  padding-left: 20px;

  > li {
    padding-bottom: 6px;
  }
}

.imagesizer_thumb {
  border: 0px solid #FF33FF;
}

figure { 
  display: inline-block;
  margin: 1em 10px;
  &.thumb {
    width: 202px !important;
    height: auto;
  }

  figcaption {
    text-align: center;
  }
}

#beitrag a {
  &:link, &:visited {
    color: #AE1F2E;
    text-decoration: none;
  }
  &.stark {
    font-weight: 700;
  }
}

.mark {
  background-color: rgba(255, 20, 20, .7);
  padding: 20px;
}

.samesame {
//  background-color: rgba(228, 240, 140, 0.6);
}

.unterschriften {
  display: flex;
  justify-content: space-between;

  .job,
  .position {
    font-size: 0.9em;
  }

  .name {
    font-size: 1.3em;
    font-weight: 700;
  }

}

.vorstand{ 
  .row {
    display: table-row;
  }

  .job, 
  .name {
    display: table-cell;
    padding: 5px;
  }
  .job {
    padding-left: 0;
  }
}
#infobox a {
  &:link, &:visited {
    color: #AE1F2E;
    text-decoration: none;
  }
}

#beitrag a:hover, #infobox a:hover {
  color: #000000;
}



#fontsize {
  position: absolute;
  top: 315px;
  left: 820px;
  height: 30px;
  width: 150px;
  border: 0px solid #DFDFDF;
  font-weight: normal;
  text-align: right;
  font-size: 0.8em;
  color: #AE1F2E;
  z-index: 9000;
  img {
    border: 0px solid #DFDFDF;
    padding-left: 5px;
  }
}

.search {
  padding-bottom: 0px;
  .inputbox {
    width: 100%;
    height: 20px;
    font-weight: normal;
    text-align: left;
    text-indent: 5px;
    font-size: 0.9em;
    color: #000000;
    background-color: #D4D4D4;
    border: 1px solid #C9C9C9;
  }
  label {
    display: none;
  }
}

.search_result {
  .only, h3 {
    display: none;
  }
}

#system-message {
  font-weight: bold;
  text-align: left;
  font-size: 1.0em;
  color: #006600;
  border: 1px solid #AE1F2E;
  padding: 10px;
  margin: 0px;
}

#formular {
  .text {
    padding-bottom: 30px !important;
  }
  input {
    font-weight: normal;
    text-align: left;
    text-indent: 5px;
    font-size: 0.9em;
    color: #000000;
    padding: 3px;
    margin: 8px;
    background-color: #DFDFDF;
    border: 1px solid #C9C9C9;
  }
}

#name, #vorname, #strasse, #plzort, #email, #telefon, #fax {
  width: 100%;
  height: 2.2em;
  line-height: 2.0em;
  border: 0px solid #FF0000;
  clear: both;
  margin-bottom: 10px;
}

#name .label, #vorname .label, #strasse .label, #plzort .label, #email .label, #telefon .label, #fax .label {
  float: left;
  width: 5em;
}

#name .input, #vorname .input, #strasse .input, #plzort .input, #email .input, #telefon .input {
  float: left;
  width: 100%;
  max-width: 300px;
}

#fax {
  .input {
    float: left;
    width: 100%;
    max-width: 300px;
  }
  margin-bottom: 45px;
  &:after {
    clear: both;
  }
}

#infotext {
  max-width: 450px;
  width: 100%;
  height: 30px;
  line-height: 2.5em;
  border: 0px solid #FF0000;
}

#infoallgem {
  max-width: 450px;
  width: 100%;
  line-height: 2.5em;
  border: 0px solid #FF0000;
}

.infocheck {
  display: inline-block;
}

#infomediatext {
  max-width: 450px;
  width: 100%;
  line-height: 2.5em;
  border: 0px solid #FF0000;
}

#musthave {
  max-width: 450px;
  width: 100%;
  height: 30px;
  line-height: 2.5em;
  border: 0px solid #FF0000;
}

#kommentar textarea {
  font-weight: normal;
  text-align: left;
  padding: 3px;
  margin: 8px;
  background-color: #DFDFDF;
  border: 1px solid #C9C9C9;
  font-size: 0.9em;
  color: #000000;
  width: 100%;
  max-width: 480px;
  height: 150px;
}

#submitit {
  max-width: 450px;
  width: 100%;
  height: 30px;
  line-height: 2.5em;
  border: 0px solid #FF0000;
  padding-bottom: 25px;
}

#yodata {
  float: left;
  width: 100%;
  line-height: 1.2em;
  border: 0px solid #FF0000;
}