---
layout: page
title: Willkommen
permalink: /
headerimage: eingangsschild
footerinfo: 
  - hauszeitung
  - leitbild
  - infomaterial
---

<h1>Lieber Besucher, liebe Besucherin,</h1>
<p><br />herzlich willkommen auf der Internetseite des Christophorusstifts.<br /><br />Das Christophorusstift in Hildesheim  betreut und pflegt in seinen Häusern und durch seine verschiedenen Dienstleistungen ältere Menschen. Bei allen unseren Angeboten steht die möglichst selbstständige Lebensgestaltung im Vordergrund unserer Unterstützung.</p>

<p>Durch die Vielzahl unserer Angebote können wir sehr individuell im Rahmen der gesetzlichen Möglichkeiten auf die Wünsche und Anforderungen von Seniorinnen und Senioren eingehen.<br />
Diese Seiten sollen Ihnen einen ersten Eindruck von unseren Wohnmöglichkeiten und  Dienstleistungen vermitteln. <br /><br />Wir freuen uns auf Sie. <br /><br /><br /><br /><br /><br /><br /><br /><a href="http://www.soziale-berufe.com/" target="_blank"><img class="ycknxgozmixtljfnwjox" src="/images/bildarchiv/Banner5_468x60.jpg" border="0" alt="www.soziale-berufe.com/" width="468" height="60" /></a></p> 
	