---
layout: page
title: Kontakt
headerimage: kontakt
permalink: /kontakt/
footerinfo:
  - leitbild
  - infomaterial
---

<p>Weiterf&uuml;hrende Informationen zum Christophorusstift k&ouml;nnen Sie &uuml;ber unser Kontakt-Formular anfordern: <br /><br /></p>
<script type="text/javascript">
function chkFormular () {
  if (document.Formular.Name.value == "") {
    alert("Bitte tragen Sie Ihren Namen ein!");
    document.Formular.Name.focus();
    return false;
  }
  if (document.Formular.Vorname.value == "") {
    alert("Bitte tragen Sie Ihren Vornamen ein!");
    document.Formular.Vorname.focus();
    return false;
  }
  if (document.Formular.Ort.value == "") {
    alert("Bitte tragen Sie Ihren Wohnort ein!");
    document.Formular.Ort.focus();
    return false;
  }
  if (document.Formular.Mail.value.indexOf("@") == -1) {
    alert("Bitte tragen Sie eine E-Mail-Adresse ein!");
    document.Formular.Mail.focus();
    return false;
  }
}
</script>

<div id="formular">
<form name="Formular" method="post" action="/kontakt02.php" class="text" onsubmit="return chkFormular()">
<input type="hidden" name="Subjekt" value="www-Anfrage via Kontakt-Formular" />
<div id="name"><div class="label">Name*</div><div class="input"><input name="Name" type="text" tabindex="1" size="40" maxlength="100" required /></div></div>
<div id="vorname"><div class="label">Vorname*</div><div class="input"><input name="Vorname" type="text" tabindex="2" size="40" maxlength="100" required /></div></div>
<div id="strasse"><div class="label">Straße/Nr.</div><div class="input"><input name="Strasse" type="text" tabindex="3" size="40" maxlength="100" /></div></div>
<div id="plzort"><div class="label">PLZ/Ort*</div><div class="input"><input id="ort" name="Ort" type="text" tabindex="4" size="40" maxlength="100" required /></div></div>
<div id="email"><div class="label">E-Mail*</div><div class="input"><input name="Mail" type="email" id="textfield6" tabindex="6" size="40" maxlength="100" required /></div></div>
<div id="telefon"><div class="label">Telefon</div><div class="input"><input name="Telefon" type="tel" id="textfield7" tabindex="7" size="40" maxlength="100" /></div></div>
<div id="fax"><div class="label">Fax</div><div class="input"><input name="Fax" type="tel" id="textfield8" tabindex="8" size="40" maxlength="100" /></div></div>
<div id="infotext"><b>Ich möchte Informationen zu folgenden Themen:</b> </div>
<div id="infoallgem">
<div class="infocheck"><input id="infocheck1" type="checkbox" name="Infos allgemein" value="JA" tabindex="9" />Allgemeine Informationen </div>

<div class="infocheck"><input id="infocheck2" type="checkbox" name="Infos Betreutes Wohnen" value="JA" tabindex="10" />Betreutes Wohnen </div>

<div class="infocheck"><input id="infocheck3" name="Infos zu Ambulante Pflege" type="checkbox" tabindex="11" value="JA" />Ambulante Pflege </div>

<div class="infocheck"><input id="infocheck4" name="Infos zum Wohnstift" type="checkbox" tabindex="12" value="JA" />Wohnstift </div>

<div class="infocheck"><input id="infocheck5" name="Infos zur Stationaeren Pflege" type="checkbox" tabindex="13" value="JA" />Stationäre Pflege </div>
</div>
<div id="infomediatext"><b>Ich möchte: </b>
<br>
<input id="callme" name="Bitte anrufen" type="checkbox" tabindex="14" value="JA" />angerufen werden 
<br>
<input id="mailme" name="Bitte per E-Mail kontaktieren" type="checkbox" tabindex="15" value="JA" />per E-Mail kontaktiert werden
<br>
<input id="snailme" name="Infos bitte per Post schicken" type="checkbox" tabindex="16" value="JA" />schriftliche Informationen erhalten 
</div>
<div id="kommentar"><textarea name="Kommentar" tabindex="17">Ihre Nachricht</textarea></div>

<div id="pruefung"><div class="label">Um zu prüfen, ob Sie ein Mensch sind, schreiben Sie das Ergebnis dieser Berechnung (als Ziffer) in das Feld:<br />Wieviel ist zwei mal 4?*</div><div class="input"><input id="pruefwert" name="pruefwert" type="text" tabindex="18" size="40" maxlength="100" required  /></div></div>
<div id="musthave">Die mit einem * gekennzeichneten Felder müssen ausgefüllt werden. </div>
<div id="submitit"><input type="submit" id="submitter" name="Submit" value="Daten senden" tabindex="17" /> <input id="resetter" type="reset"></div>
<div id="yodata">Wir fragen ausschließlich Daten ab, die zur Bearbeitung Ihrer Anfrage notwendig sind. Es unterliegt Ihrer freien Entscheidung, ob Sie diese Daten eingeben.<br />
<br />
Der Zugriff darauf ist nur wenigen besonders befugten Personen möglich, die mit der technischen oder kaufmännischen Betreuung der Anfrage befasst sind. Die Daten werden lediglich für den Zweck verwendet, für den sie eingegeben wurden, und nicht an Dritte verkauft. <br /><br /></div>
</form>
</div>