---
layout: page
title: Haus Sankt Georg
headerimage: schunkeln
permalink: /unsere-haeuser/haus-sankt-georg/
footerinfo: 
  - betreutes-wohnen
  - tagespflege
  - wohngemeinschaften
  - ambulanter-dienst
---

<h3>Im Süden Hildesheims gut betreut leben</h3>

<p>Im 2011 eröffneten Haus Sankt Georg bieten das Christophorusstift und die Sankt Georg GmbH
in Zusammenarbeit 25 Betreute Wohnungen an. Die Vermietung erfolgt über die Sankt Georg 
GmbH, während die im Haus befindlichen Wohngemeinschaften und die Tagespflege vom
Christophorusstift angeboten werden.</p> 

<p>Die Betreuung der Wohnungen erfolgt &mdash; wie in allen anderen Häusern des
Christophorusstifts auch &mdash; durch Mitarbeiterinnen und Mitarbeiter des Ambulanten
Dienstes Christophorus.<br>
Ferner befindet sich im Haus eine Praxis für Physiotherapie.</p>
<p>Die 25 Wohnungen haben zwei bis vier Zimmer und sind zwischen 45 und 90qm groß.</p>

<p>Zwei Betreute Wohngemeinschaften finden Sie im:</p>

<h4><span class="einrichtung">Haus Sankt Georg</span></h4>
<p class="adresse">In der Schratwanne 55 und 57 <br>
31141 Hildesheim</p>
 
<p>Es besteht auch die Möglichkeit der Tagespflege.</p>

<p>Sprechen Sie uns einfach an:</p>

<h4>Tagespflege Haus Sankt Georg</h4>
<p>In der Schratwanne 57<br>
31141 Hildesheim<br>
Tel. 0 51 21 · 93 56 340<br>
<a href="mailto:mail@christophorus-hildesheim.de">mail@christophorus-hildesheim.de</a></p>

<p>Weitere Informationen erhalten Sie gerne bei<br><span class="ma-name">Katrin Möllering</span>: Tel. 0 51 21 · 28 40 800</p>