---
layout: page
title: Informationsmaterial
headerimage: eingangsschild
permalink: /informationsmaterial/
footerinfo:
  - hauszeitung
  - leitbild
---
<p>An dieser Stelle können Sie unsere Informationsbroschüren herunterladen. Je nach Verbindungsgeschwindigkeit kann der Download unterschiedlich lang dauern. </p> 
<h3>Besonderes</h3>
<div class="downloads">
	<div><a href="/informationsmaterial/Festschrift_Christophorus40Jahre.pdf" target="_blank" title="Jubiläumsfestschrift |pdf-Datei, 3,9MB |">Jubiläumsfestschrift: 40 Jahre Christophorusstift | pdf-Datei, 1,9 MB</a></div>

	<div><a href="/informationsmaterial/Leitbild__Broschuer6_10.pdf" target="_blank" title="Leitbild | pdf-Datei, 1,0MB |">Leitbild des Christophorusstifts | pdf-Datei, 1,0MB</a></div>
</div>

<h3>Leistungen</h3>
<div class="downloads">
	<div><a href="/informationsmaterial/2015/christophorus_wohnstift.pdf" target="_blank" title="Wohnstift | pdf-Datei, 1,7MB |">Wohnstift | pdf-Datei, 1,7 MB </a></div>

	<div><a href="/informationsmaterial/2015/christophorus_betr-wohnen.pdf" target="_blank" title="Broschüre Betreutes Wohnen | pdf-Datei, 1,6MB |">Broschüre Betreutes Wohnen | pdf-Datei, 1,6 MB </a></div>

	<div><a href="/informationsmaterial/2015/christophorus_ambulant-betreute-wohngemeinschaften.pdf" target="_blank" title="Broschüre Ambulant betreute Wohngemeinschaften | pdf-Datei, 773kB |">Broschüre Ambulant betreute Wohngemeinschaften | pdf-Datei, 773kB </a></div>

	<div><a href="/informationsmaterial/2015/christophorus_tagespflege.pdf" target="_blank" title="Broschüre Tagespflege | pdf-Datei, 679kB |">Broschüre Tagespflege | pdf-Datei, 679kB </a></div>

	<div><a href="/informationsmaterial/2015/christophorus_stationaere-pflege.pdf" target="_blank" title="Broschüre Stationäre Pflege | pdf-Datei, 860kB |">Broschüre Stationäre Pflege | pdf-Datei, 860kB </a></div>

	<div><a href="/informationsmaterial/2015/christophorus_ambulanter-dienst.pdf" target="_blank" title="Broschüre Ambulanter Dienst | pdf-Datei, 1,3MB |">Broschüre Ambulanter Dienst | pdf-Datei, 1,3MB </a></div>
</div>

<h3>Grundrisse</h3>
<div class="downloads">
	<div><a href="/informationsmaterial/2015/christophorus_grundriss_wohnstift.pdf" target="_blank" title="Grundriss Wohnstift | pdf-Datei, 962kB |">Grundriss-Beispiele der 1- und 2-Zimmer-Apartments im Wohnstift | pdf-Datei, 962kB </a></div>

	<div><a href="/informationsmaterial/2015/christophorus_grundriss_betr-wohnen_stift.pdf" target="_blank" title="Grundriss Wohnstift | pdf-Datei, 314kB |">Grundriss-Beispiele von 2-Zimmer-Apartments im Bereich Betreutes Wohnen Wohnstift | pdf-Datei, 314kB </a></div>

	<div><a href="/informationsmaterial/2015/christophorus_grundriss_betr-wohnen_haus-christophorus.pdf" target="_blank" title="Grundrisse Haus Christophorus | pdf-Datei, 321kB |">Grundriss-Beispiele von Wohnungen im Bereich Betreutes Wohnen Haus Christophorus | pdf-Datei, 321kB </a></div>
</div>

<h3>Flyer</h3>
<div class="downloads">
	<div><a href="/informationsmaterial/2015/christophorus_flyer_ehrenamt.pdf" target="_blank" title="Ehrenamt | pdf-Datei, 776kB |">Flyer zu Ehrenamt im Christophorusstift | pdf-Datei, 776kB </a></div>

	<div><a href="/informationsmaterial/2015/christophorus_flyer_stiftung.pdf" target="_blank" title="Stiftung | pdf-Datei, 760kB |">Flyer zur Christophorusstiftung | pdf-Datei, 760kB </a></div>

	<div><a href="/informationsmaterial/2015/christophorus_verein.pdf" target="_blank" title="Verein | pdf-Datei, 870kB |">Der Verein | pdf-Datei, 870kB </a></div>
</div>
