---
layout: page
title: Impressum
headerimage: impressum
permalink: /kontakt/impressum/
footerinfo:
  - leitbild
---

<h3>Trägerverein</h3>

<p>Christophorusstift e.V.<br />Hammersteinstrasse 7<br />31137 Hildesheim<br />Tel. 05121 / 693-0<br />Fax 05121 / 693-135<br />E-Mail: <a href="mailto:mail@christophorus-hildesheim.de" title="mail@christophorus-hildesheim.de">mail@christophorus-hildesheim.de</a></p>

<h4>Vereinsvorstand</h4>

<div class="vorstand">
	<div class="row">
		<div class="job">Vorsitzender:</div>
		<div class="name">Dipl.-Ing. Arch. Eugen Jung</div>
	</div>
	<div class="row">
		<div class="job">Stellv. Vorsitzender:</div>
		<div class="name">Daniel Jung</div>
	</div>
	<div class="row">
		<div class="job">Schatzmeisterin:</div>
		<div class="name">Dorli Albrecht</div>
	</div>
	<div class="row">
		<div class="job">Schriftführer:</div>
		<div class="name">Dr. Rainer Neumann</div>
	</div>
	<div class="row">
		<div class="job">Beisitzer:</div>
		<div class="name">Klaus-Dieter Bode</div>
	</div>
	<div class="row">
		<div class="job">Geschäftsführer:</div>
		<div class="name">Dipl-Theol. Sven Schumacher</div>
	</div>
</div>

<h4>Konzeption &amp; Gestaltung</h4>
<p>Bernward Mediengesellschaft mbH<br /><a href="http://www.bernward-medien.de" target="_blank" title="www.bernward-medien.de">www.bernward-medien.de</a></p>

<h4>Realisation</h4>
<p>m2werbeagentur<br /><a href="http://www.m2werbeagentur.de" target="_blank" title="www.m2werbeagentur.de">www.m2werbeagentur.de</a></p>

<h3>Disclaimer:</h3>

<h4>1. Haftung für Inhalte</h4>


<p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.<br />Als Diensteanbieter sind wir gemäß § 6 Abs.1 MDStV und § 8 Abs.1 TDG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Diensteanbieter sind jedoch nicht verpflichtet, die von ihnen übermittelten oder gespeicherten fremden Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei bekannt werden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

<h4>2. Haftung für Links</h4>

<p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei bekannt werden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

<h4>3. Urheberrecht</h4>

<p>Die Betreiber der Seiten sind bemüht, stets die Urheberrechte anderer zu beachten bzw. auf selbst erstellte sowie lizenzfreie Werke zurückzugreifen.<br />Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>

<h4>4. Datenschutz</h4>

<p>Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies soweit möglich stets auf freiwilliger Basis. Die Nutzung der Angebote und Dienste ist, soweit möglich, stets ohne Angabe personenbezogener Daten möglich.<br />Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</p> 
