---
layout: page
title: Tagespflege
headerimage: ehrenamt
permalink: /leistungen/tagespflege/
footerinfo:
  - leitbild
  - ambulanter-dienst
  - christophorus
---
<h3>Mal rauskommen &ndash; die Tagespflege des Christophorusstifts</h3>
<p>Die Tagespflegeeinrichtungen des Christophorusstifts sind teilstationäre Einrichtungen zur Betreuung und 
Pflege älterer pflegebedürftiger Menschen.</p>

<p>Im Rahmen unseres ganzheitlichen Pflege- und Menschenverständnisses bieten wir die Möglichkeit, in einer 
vertrauensvollen, sicheren Umgebung gemeinsam den Tag zu gestalten.</p>

<p>Pflegende Angehörige werden durch das Angebot einer zuverlässigen und regelmäßigen Betreuung entlastet.</p>

<p>Durch Kombination der ambulanten Pflege in der eigenen Häuslichkeit und den Besuch der Tagespflege können 
sehr individuelle und sichere Pflegesituationen dargestellt werden. Sinnvoll ist sicher ein mindestens 
wöchentlicher Besuch.</p>

<p>Für den Tagesgast ergeben sich durch den regelmäßigen Besuch neue Kontakte und Anregungen für die 
Alltagsgestaltung.</p>

<p>Der angebotene Fahrdienst durch einen fachlich versierten Kooperationspartner übernimmt den Transport 
der Tagesgäste.</p>

<h4 class="listenheading">Unsere Leistungen</h4>
<ul>
	<li>Geleitete Tagesstrukturierung</li>
	<li>Erhaltung von Alltagsfertigkeiten</li>
	<li>Erhaltung der Sozial- und Alltagskompetenz</li>
	<li>Zeit- und orientierungsgebende Maßnahmen</li>
	<li>Fahrdienst</li>
	<li>Übernahme von notwendigen Arzt- bzw. Therapeutenbesuchen</li>
	<li>Unterstützung bei der Körperpflege</li>
	<li>Friseur und Fußpflege im Haus</li>
	<li>Beratung der pflegenden Angehörigen</li>
	<li>Angehörigenabende für pflegende Angehörige</li>
	<li>Kooperation mit anderen Diensten</li>
	<li>Vermittlung weiterer pflegerischer Angebote</li>
</ul>

<h3>Niedrige Kosten durch Förderung</h3>

<p>Die Pflegekassen und das Land Niedersachsen übernehmen übrigens den größten Teil der Kosten für den Besuch 
der Tagespflege. Insbesondere seit der am 1. Januar 2015 in Kraft getretenen Änderung des 
Pflegeversicherungsgesetzes (SGB XI) wird der Besuch der Tagespflege finanziell noch stärker gefördert.</p>

<h3>Betreute Wohngemeinschaften &ndash; eine Alternative</h3>

<p>Der Christophorusstift e.V. bietet als Alternative zur eigenen Wohnung ambulant betreute Wohngemeinschaften,
die durch die staatliche Unterstützung der Tagespflege auch in diesen Einrichtungen eine interessante
Perspektive darstellen können.</p>
<p>Lassen Sie sich auch dazu gerne von uns beraten. Gern beantworten unsere Mitarbeiterinnen und Mitarbeiter
Ihre Fragen.</p>

<p>Sprechen Sie uns einfach an:</p>

<h4>Tagespflege Haus Sankt Georg</h4>
<p>In der Schratwanne 57<br>
31141 Hildesheim<br>
Tel. 0 51 21 · 93 56 340<br>
<a href="mailto:mail@christophorus-hildesheim.de">mail@christophorus-hildesheim.de</a></p>

<h4>Tagespflege Haus Christophorus</h4>
<p>Schützenwiese 37<br>
31137 Hildesheim<br>
Tel. 0 51 21 · 28 40-805<br>
<a href="mailto:mail@christophorus-hildesheim.de">mail@christophorus-hildesheim.de</a></p>
