---
layout: page
title: Wohnungen Hammersteinstraße und Himmelsthürer Straße
headerimage: fassaden
permalink: /unsere-haeuser/wohnungen/
footerinfo: 
  - betreutes-wohnen
  - ambulanter-dienst
---
<h3>Leben und wohnen im Grünen</h3>	

<h4>Sicher und komfortabel wohnen ...</h4>

<p>Für das Betreute Wohnen in der Hammersteinstraße stehen vier Häuser mit insgesamt 90 
Wohnungen zur Verfügung. Sie liegen am Rande der Weststadt in angenehmer Umgebung. Rotts- 
und Gallberg schirmen allzu heftige Westwinde ab. Die bewaldeten Kuppen filtern den Staub und sorgen für frische und gesunde Luft. Liebevoll gepflegte Haus- und Kleingärten schaffen in dem Stadtteil ein ruhiges Klima mit einer vielfältigen Vogelwelt. Die nähere Umgebung lädt zu geruhsamen Spaziergängen ein.</p>

{% include figure.html title='Hammersteinstraße, Altenwohnungen 1 Person' filename='grundrisse/Altenwohnungen_1PersonenWohnung.jpg' thumb='grundrisse/Altenwohnungen_1PersonenWohnung_thumb.jpg' %}

<p>Alle Wohnungen sind mit einer kombinierten Telefon/Notrufanlage, einem Balkon, einem Küchenraum, einem Kellerraum und Kabelfernsehen ausgestattet.</p>

<p>Nach Osten erschließt sich dem Betrachter ein schöner Ausblick über die Stadt „im Potte“.<br>
Die Anbindung an die Innenstadt ist günstig. Ein Linienbus hält nur wenige Meter vom 
Stiftsgelände entfernt in der Himmelsthürer Straße. Die Nahversorgung mit Lebensmittel- und Getränkemarkt, Post, Arztpraxen und Apotheke ist sehr gut.</p>

<p>Die Wohnungen sind zwischen 42 und 70qm groß und bis auf wenige Ausnahmen direkt mit einem Aufzug zu erreichen. Die Ausrichtung der Apartements ist zum Süden oder Westen.</p>

{% include figure.html title='Hammersteinstraße, Altenwohnungen 2 Personen' filename='grundrisse/Altenwohnungen_2PersonenWohnung.jpg' thumb='grundrisse/Altenwohnungen_2PersonenWohnung_thumb.jpg' %}

{% include figure.html title='Hammersteinstraße, Altenwohnungen 2 Personen' filename='grundrisse/Altenwohnungen_2PersonenWohnung_2.jpg' thumb='grundrisse/Altenwohnungen_2PersonenWohnung_2_thumb.jpg' %}


<p>Die aktuellen Preise für die Miete, Mietnebenkosten und die obligatorische Betreuungspauschale finden Sie in unserer Preisliste in der Vereinszeitung „CHRISTOPHORUS“.</p>

<h4>... umgeben von einer großzügigen, gepflegten Gartenanlage</h4>

<p>Die „betreuten Wohnhäuser“ in der Hammersteinstraße sind umgeben von großzügigen, 
gepflegten Gartenanlagen mit Rasengrün, Bäumen, seltenen Gehölzen, Teichen, Wasserspielen, 
Brunnen, Sitzplätzen, einem dominierenden Glockenturm und blühenden Blumen. Wege, die zu 
kleinen Spaziergängen oder zum Verweilen einladen, durchziehen das Gelände. Wetter und 
Jahreszeiten lassen die Eindrücke ständig wechseln. Auch im Winter werden die Wege stets 
begehbar gehalten.</p>

