<figure class="thumb">
<a class="linkthumb" target="_blank" title="{{ include.title }}" rel="lightbox[id19]" href="/images/bildarchiv/{{ include.filename }}">
<img src="/images/bildarchiv/{{ include.thumb }}" alt="{{ include.title }}" 
border="0" class="thumb" />
</a>
<figcaption>{{ include.title }}</figcaption>
</figure>