<div id="fontsize">
	<script type="text/javascript">
		//<![CDATA[
		document.write('<a href="/index.php" title="Schrift verkleinern" onclick="changeFontSize(-2); return false;" class="smaller"><img src="/images/site/a_verkleinern.png" width="25" height="25" border="0" alt="Schrift verkleinern" title="Schrift verkleinern" /></a>');
		document.write('<a href="/index.php" title="Normaleinstellung der Schriftgr&ouml;&szlig;e" onclick="revertStyles(); return false;" class="reset"><img src="/images/site/a_normal.png" width="25" height="25" border="0" alt="Schrift Normaleinstellung" title="Schrift Normaleinstellung" /></a>');
		document.write('<a href="/index.php" title="Schrift vergr&ouml;&szlig;ern" onclick="changeFontSize(2); return false;" class="larger"><img src="/images/site/a_vergroessern.png" width="25" height="25" border="0" alt="Schrift vergr&ouml;&szlig;ern" title="Schrift vergr&ouml;&szlig;ern" /></a>');
		//]]>
	</script>
</div>

