<div class="custom"  >
    <p><a href="/leistungen/betreutes-wohnen/"><img src="/images/bildarchiv/teaser_betreutes-wohnen.jpg" alt="Betreutes Wohnen" height="199" width="199" /></a><br /> <a href="/leistungen/betreutes-wohnen/" target="_blank">» Betreutes Wohnen</a><br />&nbsp;</p>
</div>
