<div class="custom" >
	<table border="0">
		<tbody style="text-align: left;">
			<tr style="text-align: left;">
				<td style="text-align: left;" class="headline_infobox">Information</td>
			</tr>
			<tr style="text-align: left;">
				<td style="text-align: left;">
				<a rel="{handler: 'image', size: {x: 540, y: 400}}" class="modal" title="Flyer ambulante Dienste.." href="/images/bildarchiv/flyer_ambul_dienst.jpg"><img alt="s_Grundrisse-Farbig-Wohngrupp" src="/images/bildarchiv/s_Grundrisse-Farbig-Wohngrupp.jpg" height="200" width="199" /></a>
				</td>
			</tr>
			<tr style="text-align: left;">
				<td style="text-align: left;">Flyer ambulante Dienste.. <br />
					<div style="text-align: right;"><a rel="{handler: 'image', size: {x: 540, y: 400}}" class="modal" title="Flyer ambulante Dienste.. " href="/images/bildarchiv/flyer_ambul_dienst.jpg">» ambulante Dienste | jpg, 300KB |</a></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>