  <div class="custom"  >
    <table style="text-align: center;" border="0">
      <tbody style="text-align: left;">
        <tr style="text-align: left;">
          <td style="text-align: left;" class="headline_infobox">Download</td>
        </tr>
        <tr style="text-align: left;">
          <td style="text-align: left;">
            <a target="_blank" href="/informationsmaterial/Leitbild__Broschuer6_10.pdf"><img style="float: left;" alt="Christophorusstift" src="/images/bildarchiv/teaser_leitbild.jpg" height="197" width="197" />
            </a>
          </td>
        </tr>
        <tr style="text-align: left;">
          <td style="text-align: left;">Unser Leitbild können Sie hier als PDF-Datei herunterladen .. <br />
            <div style="text-align: right;">
              <a target="_blank" title="Broschüre Leitbild |pdf-Datei, 1,0MB|" href="/informationsmaterial/Leitbild__Broschuer6_10.pdf">» pdf-Datei, 1,0 MB|</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
