<div class="custom"  >
	<table border="0">
<tbody style="text-align: left;">
<tr style="text-align: left;">
<td class="headline_infobox">Infomaterial</td>
</tr>
<tr style="text-align: left;">
<td style="text-align: left;"><a rel="{handler: 'image', size: {x: 540, y: 400}}" class="modal" href="../images/stories/module/grundriss_hammersteinstr.jpg"><img style="float: left;" alt="aussenansicht_hammersteinst" src="../images/stories/module/aussenansicht_hammersteinst.jpg" height="164" width="199" /></a></td>
</tr>
<tr style="text-align: left;">
<td style="text-align: left;">Wohnungen Hammersteinstraße<br />
<div style="text-align: right;"><a rel="{handler: 'image', size: {x: 540, y: 400}}" class="modal" href="../images/stories/module/grundriss_hammersteinstr.jpg">» Grundriss Hammersteinstraße</a></div>
</td>
</tr>
<tr style="text-align: left;">
<td style="text-align: left;"><a rel="{handler: 'image', size: {x: 540, y: 400}}" class="modal" href="../images/stories/module/grundriss_schuetzenwiese.jpg"><img alt="teaser_schuetzenwiese" src="../images/stories/module/teaser_schuetzenwiese.jpg" height="136" width="199" /></a></td>
</tr>
<tr style="text-align: left;">
<td style="text-align: left;">Wohnungen Schützenwiese<br />
<div style="text-align: right;"><a rel="{handler: 'image', size: {x: 540, y: 400}}" class="modal" href="../images/stories/module/grundriss_schuetzenwiese.jpg">» Grundriss Schützenwiese</a></div>
</td>
</tr>
</tbody>
</table>
</div>