  <div class="custom"  >
    <table border="0">
      <tbody style="text-align: left;">
        <tr style="text-align: left;">
          <td style="text-align: left;" class="headline_infobox">Infomaterial</td>
        </tr>
        <tr style="text-align: left;">
          <td style="text-align: left;"><a target="_parent" href="/informationsmaterial/"><img style="float: left;" alt="Christophorusstift Infomaterial" src="/images/bildarchiv/teaser_infos.jpg" height="79" width="199" /></a></td>
        </tr>
        <tr style="text-align: left;">
          <td style="text-align: left;">Wichtige Informationen über das Christophorus Seniorenhilfe-Zentrum Hildesheim.<br />
            <div style="text-align: right;">
              <a target="_parent" href="/informationsmaterial/">» mehr</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
