<div class="custom"  >
    <p><a href="/leistungen/stationaere-pflege/"><img src="/images/bildarchiv/teaser_stationaere-pflege.jpg" alt="Stationäre Pflege" height="199" width="199" /></a><br /> <a href="/leistungen/stationaere-pflege/" target="_blank">» Stationäre Pflege</a><br />&nbsp;</p>
</div>
