<div class="custom"  >
    <p><a href="/unsere-haeuser/wohnungen/"><img src="/images/bildarchiv/aussenansicht_hammersteinst.jpg" alt="Außenansicht Hammersteinstraße" height="199" width="199" /></a><br /> <a href="/unsere-haeuser/wohnungen/">» Hammersteinstr. / Himmelsthürer Str.</a><br />&nbsp;</p>
</div>
