<div class="custom"  >
    <p><a href="/images/klabunde/hauszeitung.pdf" target="_blank"><img src="/images/bildarchiv/download_hauszeitung_01.jpg" alt="download hauszeitung 01" height="199" width="199" /></a><br /> <a href="/images/klabunde/hauszeitung.pdf" target="_blank">Download Hauszeitung </a><br />&nbsp;</p>
</div>
