<div class="custom"  >
    <p><a href="/unsere-haeuser/wohnstift/"><img src="/images/bildarchiv/teaser_brosch_wohnstift.jpg" alt="Außenansicht Wohnstift" height="199" width="199" /></a><br /> <a href="/unsere-haeuser/wohnstift/" target="_blank">» Wohnstift</a><br />&nbsp;</p>
</div>
