<div id="infobox">
  <div id="info-schalter">
    <a href="#kontakt">
      <img id="info-kreis" src="/images/site/info.png" alt="Informationen" />
    </a>
  </div>
  
  {% for box in page.footerinfo %}
  	{% include footer-{{ box }}.html %}
  {% endfor %}

  {% include kontakt.html %}
</div>
