<div class="custom"  >
    <p><a href="/leistungen/ambulanter-dienst/"><img src="/images/bildarchiv/teaser_ambulanter-dienst.jpg" alt="Ambulante Dienste" height="199" width="199" /></a><br /> <a href="/leistungen/ambulanter-dienst/" target="_blank">» Ambulanter Dienst</a><br />&nbsp;</p>
</div>
