<div class="custom"  >
    <p><a href="/leistungen/wohnstift/"><img src="/images/bildarchiv/teaser_wohnstift.jpg" alt="Wohnstift" height="199" width="199" /></a><br /> <a href="/leistungen/wohnstift/" target="_blank">» Wohnstift</a><br />&nbsp;</p>
</div>
