<div class="custom"  >
    <p><a href="/leistungen/ambulant-betreute-wohngemeinschaften/"><img src="/images/bildarchiv/teaser_betreute-wohngemeinschaften.jpg" alt="Ambulant betreute Wohngemeinschaften" height="199" width="199" /></a><br /> <a href="/leistungen/ambulant-betreute-wohngemeinschaften/">» Ambulant betreute Wohngemeinschaften</a><br />&nbsp;</p>
</div>
