<div class="custom"  >
    <p><a href="/unsere-haeuser/haus-christophorus/"><img src="/images/bildarchiv/teaser_schuetzenwiese.jpg" alt="Außenansicht Haus Christophorus" height="199" width="199" /></a><br /> <a href="/unsere-haeuser/haus-christophorus/" target="_blank">» Haus Christophorus</a><br />&nbsp;</p>
</div>
