<div class="custom"  >
    <p><a href="/leistungen/tagespflege/"><img src="/images/bildarchiv/teaser_tagespflege.jpg" alt="Tagespflege" height="199" width="199" /></a><br /> <a href="/leistungen/tagespflege/" target="_blank">» Tagespflege</a><br />&nbsp;</p>
</div>
