<div id="header">
  <div id="logo">
    <a href="/index.html">
      <img src="/images/site/logo.png" alt="zur Startseite" />
    </a>
  </div>
  <div id="kopfbildplatz">
  </div>
  <div id="kleines_menu" >   
    <ul class="menu_top" id="_top">
      <li class="item-16 alias-parent-active">
        <a href="/index.html" >Startseite</a>
      </li>
      <li class="item-18"><a href="/kontakt/" >Kontakt</a>
      </li>
      <li class="item-127"><a href="/kontakt/impressum/" >Impressum</a>
      </li>
    </ul>
  </div>
</div>