<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Willkommen auf den Webseiten des Alten- und
Pflegeheimes Christophorusstift / Hildesheim. Wir stellen unsere Häuser und Leistungen vor." />
  <title>{% if page.title %}{{ site.title | prepend:' - ' | prepend:page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Senioren, Seniorenheim, Seniorenheime, Christophorus, Altenheim, Altenheime, Wohnheim, Altenwohnheim, betreutes Wohnen, Altenwohnung, altengerechte Wohnung, evangelisch, Diakonie, ambulante, stationäre, Pflege, Hildesheim, Alfeld, Raum Hildesheim">
  <base href="{{ site.baseurl }}{{ page.permalink }}" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>  
	<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/mediaboxAdvBlack.css" type="text/css" media="screen"  />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/modal.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/oj-accordmenu.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/green.css" type="text/css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/template.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/print.css" type="text/css" media="Print" />
  <link rel="stylesheet" media="screen and (max-width: 480px)" href="{{ site.baseurl }}/css/320_480_hoch.css" type="text/css" />
  <link rel="stylesheet" media="screen and (min-width:481px) and (max-width: 1024px)" href="{{ site.baseurl }}/css/600_800_hoch.css" type="text/css" />
  <script src="{{ site.baseurl }}/javascript/mootools-core.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/javascript/core.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/javascript/caption.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/javascript/mootools-more.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/javascript/mediaboxAdv.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/javascript/modal.js" type="text/javascript"></script>
  <script type="text/javascript">
window.addEvent('load', function() {
        new JCaption('img.caption');
      });
    window.addEvent('domready', function() {

      SqueezeBox.initialize({});
      SqueezeBox.assign($$('a.modal'), {
        parse: 'rel'
      });
    });
</script>
  <script type="text/javascript" src="{{ site.baseurl }}/javascript/md_stylechanger.js"></script>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
