<div id="suche-kontakt">
	<div class="custom"  >
		<table border="0">
			<tbody>
				<tr>
					<td class="headline_infobox">
						<p><a name="kontakt"></a>Kontakt</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Christophorusstift e.V.<br />
							Hammersteinstrasse 7<br />
							31137 Hildesheim<br /> <br />
							Tel. 05121 / 693-0<br />
							Fax 05121 / 693-135<br /> <br />
							<a title="mail@christophorus-hildesheim.de" href="mailto:mail@christophorus-hildesheim.de">mail@christophorus-hildesheim.de</a>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>