<div id="nav">
{% include simplenav.html nav=site.data.menu level="top" %}
<script type="text/javascript">
jQuery(document).ready(function() {
  //slides the element with class "menu_body" when mouse is over the paragraph
  jQuery('#accordion_ecjhk p.menu_head').mouseover(function() {
    jQuery(this).next('div.menu_body').slideDown(500)
.siblings('div.menu_body')
.slideUp('slow');
  });
});
</script>
<div id="ojaccord-menu">
  <!-- BEGIN Standalone Accordion Menu -->
  <div id="accordion_ecjhk" class="menu_list">
    <p class="menu_head haschild active">Seitennavigation</p>
    <div class="menu_body" style="display:block;">
{% include oj-nav.html nav=site.data.menu %}
		</div>
	</div>
</div>
</div>