{% assign navurl = page.url | remove: 'index.html' %}
<ul>
{% for item in include.nav %}
    <li class="oj-accord_li">
        <a href="{{ item.url }}" class="{% if item.subitems and navurl contains item.url %}hassubchild{% else %}nochild{% endif %}{% if item.url == navurl %} sub_active{% endif %}">{{ item.text }}</a>
    {% if item.subitems and navurl contains item.url %}
        {% include nav.html nav=item.subitems %}
    {% endif %}
    </li>
{% endfor %}
</ul>