        <script type="text/javascript">
jQuery(document).ready(function() {
            //slides the element with class "menu_body" when mouse is over the paragraph
        jQuery('#accordion_ecjhk p.menu_head').mouseover(function() {
            jQuery(this).next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
        });
    });
</script>
<div id="ojaccord-menu">
            <!-- BEGIN Standalone Accordion Menu -->
        <div id="accordion_ecjhk" class="menu_list">
                <p class="menu_head haschild active">Seitennavigation</p>
                    <div class="menu_body"style="display:block;">
               <ul>
                                <li class="oj-accord_li">
                        <a id="MenuItem2"  class=" hassubchild" href="verein.html">Verein</a>

                        <ul>
                <li class="oj-accord_li">
                <a id="MenuItem3"   href="verein/leitbild.html">Leitbild</a>
                </li>
                <li class="oj-accord_li">
                <a id="MenuItem4"   href="verein/baugeschichte.html">Baugeschichte</a>
                </li>
                <li class="oj-accord_li">
                <a id="MenuItem5"   href="verein/wenn-noetig-mit-gipsbein-.html">Zwei Generationen ...</a>
                </li>
                <li class="oj-accord_li">
                <a id="MenuItem6"   href="verein/ein-kavalier-.html">Ein Kavalier ...</a>
                </li>
        </ul>
                </li>
                                <li class="oj-accord_li">
                        <a id="MenuItem21"  class="sub_active" href="haus-sankt-georg.html">Neu: Haus Sankt Georg</a>

                                </li>
                                <li class="oj-accord_li">
                        <a id="MenuItem7"  class=" hassubchild" href="leistungen.html">Leistungen</a>

                        <ul>
                <li class="oj-accord_li">
                <a id="MenuItem8"   href="leistungen/betreutes-wohnen.html">Betreutes Wohnen</a>
                </li>
                <li class="oj-accord_li">
                <a id="MenuItem9"   href="leistungen/wohnstift.html">Wohnstift</a>
                </li>
                <li class="oj-accord_li">
                <a id="MenuItem23"   href="leistungen/tagespflege.html">Tagespflege</a>
                </li>
                <li class="oj-accord_li">
                <a id="MenuItem10"   href="leistungen/ambulanter-dienst.html">Ambulanter Dienst</a>
                </li>
                <li class="oj-accord_li">
                <a id="MenuItem22"   href="leistungen/ambulant-betreute-wohngruppen.html">Ambulant betr. Wohngruppen</a>
                </li>
                <li class="oj-accord_li">
                <a id="MenuItem11"   href="leistungen/pflegebereich-wohnstift.html">Pflegebereich Wohnstift</a>
                </li>
                <li class="oj-accord_li">
                <a id="MenuItem12"   href="leistungen/die-pflegehausgemeinschaften.html">Die Pflegehausgemeinschaften</a>
                </li>
        </ul>
                </li>
                                <li class="oj-accord_li">
                        <a id="MenuItem13"  class="" href="preise.html">Preise</a>

                                </li>
                                <li class="oj-accord_li">
                        <a id="MenuItem14"  class="" href="download.html">Download</a>

                                </li>
                                <li class="oj-accord_li">
                        <a id="MenuItem15"  class="" href="links.html">Links</a>

                                </li>
                                <li class="oj-accord_li">
                        <a id="MenuItem19"  class=" hassubchild" href="kontakt.html">Kontakt</a>

                        <ul>
                <li class="oj-accord_li">
                <a id="MenuItem126"   href="kontakt/impressum.html">Impressum</a>
                </li>
        </ul>
                </li>
                        </ul>
        </div>
        </div>
    <!-- BEGIN Standalone Accordion Menu -->
</div>