{% assign navurl = page.url | remove: 'index.html' %}

{% if include.level == 'top' %}
<ul class="menu_nav" id="_nav">
{% else %}
<ul class="{{ include.level }}">
{% endif %}
{% for item in include.nav %}
    <li class="{% if navurl == item.url and include.level == 'bottom' %}active current{% endif %}{% if navurl contains item.url and include.level == 'top' %}active deeper parent{% endif %}">
        <a href="{{ item.url }}">{{ item.text }}</a>
    {% if item.subitems and navurl contains item.url %}
        {% include simplenav.html nav=item.subitems level="bottom" %}
    {% endif %}
    </li>
{% endfor %}
</ul>