---
layout: page
title: Haus Christophorus
headerimage: christophorus-innen
permalink: /unsere-haeuser/haus-christophorus/
footerinfo: 
  - betreutes-wohnen
  - tagespflege
  - wohngemeinschaften
  - ambulanter-dienst
---
<h3>Stadtnahes Wohnen bei hohem Komfort ...</h3>

<p>In der Schützenwiese 37/38, nahe der Hildesheimer Innenstadt und direkt am Fluss 
Innerste im städtischen Grüngürtel (Seniorengraben und Liebesgrund) hat der Verein 
Christophorusstift e.V. im Jahr 2001 das „Haus Christophorus“ neu gebaut und eröffnet.</p> 	

<h4>... mit Blick auf den Liebesgrund und den Dom</h4>

<p>Die Seniorenwohnanlage beherbergt im Erdgeschoss mit Atrium und Sinnesgarten vier ambulant betreute Wohngemeinschaften für pflegebedürftige Menschen und eine Tagespflegeeinrichtung.<br>
In den zwei bis drei darüber liegenden Etagen befinden sich 37 Betreute Wohnungen mit zwei bis vier Zimmern und Wohnflächen zwischen 60 und 100qm.</p>	 

{% include figure.html title='Haus Christophorus, 2-Zimmerwohnung' thumb='grundrisse/Schützenwiese_2ZimmerWohnung1_OG_thumb.jpg' filename='grundrisse/Schützenwiese_2ZimmerWohnung1_OG.jpg' %}

{% include figure.html title='Haus Christophorus, 3-Zimmerwohnung' thumb='grundrisse/Schützenwiese_3ZimmerWohnung1OG_thumb.jpg' filename='grundrisse/Schützenwiese_3ZimmerWohnung1OG.jpg' %}

<p>Zwei Aufzüge ermöglichen einen barrierefreien Zugang zu den seniorengerechten Wohnungen, 
die über einen Laubengang erschlossen werden. Sie sind komfortabel ausgestattet mit 
Telefon, Kabelfernsehanschluss und einer Notrufanlage, einem Balkon und einem Küchenraum.</p> 

{% include figure.html title='Haus Christophorus, Maisonette, 3. OG' thumb='grundrisse/Schützenwiese_GrundrisseMaisonette3OG_thumb.jpg' filename='grundrisse/Schützenwiese_GrundrisseMaisonette3OG.jpg' %}

{% include figure.html title='Haus Christophorus, Maisonette 4. OG' thumb='grundrisse/Schützenwiese_GrundrisseMaisonette4OG_thumb.jpg' filename='grundrisse/Schützenwiese_GrundrisseMaisonette4OG.jpg' %}

<p>Zu jeder Wohnung gehören ein Keller und &mdash; falls gewünscht &mdash; ein Parkplatz in 
der Tiefgarage. Alle Wohnräume sind nach Süden oder Osten ausgerichtet und bieten über die Innerste hinweg einen Blick auf die Stadt mit ihren alten Kirchen, Klöstern und Grünanlagen.</p>

<p>Die Mieter der Betreuten Wohnungen können den Sinnesgarten und das Foyer des Hauses im Erdgeschoss auch für sich nutzen.</p>

<p>Vier Betreute Wohngemeinschaften finden Sie im:</p>

<h4><span class="einrichtung">Haus Christophorus</span></h4>
<p class="adresse">Schützenwiese 37/38<br>
31137 Hildesheim</p>

<p>Es besteht auch die Möglichkeit der Tagespflege.</p>

<p>Sprechen Sie uns einfach an:</p>

<h4>Tagespflege Haus Christophorus</h4>
<p>Schützenwiese 37<br>
31137 Hildesheim<br>
Tel. 0 51 21 · 28 40-805<br>
<a href="mailto:mail@christophorus-hildesheim.de">mail@christophorus-hildesheim.de</a></p>

<p>Weitere Informationen erhalten Sie gerne bei <span class="ma-name">Monika Behrens</span>: Tel. 0 51 21 · 93 56 330</p>