---
layout: page
title: Ein Kavalier der alten Schule
headerimage: impression
permalink: /verein/ein-kavalier/
footerinfo: 
  - infomaterial 
  - leitbild
---
<h3>Walter Stürzebecher feiert seinen 104. Geburtstag</h3>
<p>Alle Hausbewohner im Christophorusstift wissen es: Der runde Tisch neben der Kuchentheke im Stadtteilcafé ist jeden Nachmittag für einen Herrn und drei Damen (früher Herren) „reserviert". Der Herr ist <strong>Walter Stürzebecher</strong>, der pünktlich geraden Schrittes um 15 Uhr dort zum Kaffeetrinken erscheint. Er wohnt seit 2001 im Christophorusstift und „kann sich nichts Besseres vorstellen", wie er immer wieder betont. „Am Haus ist nichts auszusetzen." Leider verstarb seine Frau vier Jahre nach dem Einzug ins Stift.</p>
<p>Walter Stürzebecher ist mit 104 Jahren der älteste Bewohner im Stift. Viele Menschen kennen ihn und fragen immer wieder: „Wie haben Sie das gemacht, so alt zu werden?" Seine Antwort lautet: "Mit nichts, aber ich habe immer etwas vor mir gehabt, das mich forderte." So ist es bis heute. Er ist zu jedem freundlich, hilfsbereit und stets Kavalier der alten Schule. Tägliche Spaziergänge gehören zu seinem Tagesablauf.</p>
<p>Geboren wurde Walter Stürzebecher im Juli 1908 in Ludwigsburg bei Stuttgart. Seinen schwäbischen Tonfall hat er bis heute nicht verlernt.<br />Sein Vater war gleich zu Anfang des Ersten Weltkriegs gefallen und hinterließ seine Frau und zwei kleine Jungen im Alter von sechs und vier Jahren.</p>
<p><quote>„Ich hatte eine schwere Jugend und von 1923 bis 1926 eine harte Lehrzeit bis zum Beruf des Kaufmanns. Mein Leben wurde erst schön nach meiner Zeit im Großhandel, in einem Stahlwerk, und 1935, als ich mich bei Bosch beworben hatte."</quote></p>
<p>Zuletzt arbeitete er bei der Firma Blaupunkt in Hildesheim und wurde dort vor 39 Jahren feierlich in den Ruhestand verabschiedet.</p>
<p>Walter Stürzebecher heiratete vor 77 Jahren zum ersten Mal. Nach dem Tod seiner Frau Elsbeth heiratete er 1977 ein zweites Mal.</p>
<p>„Wie sind Sie denn auf das Christophorusstift aufmerksam geworden?", wird er häufig gefragt. Gern spricht er darüber und erzählt, wie er mit seiner Frau Annelies viel im Bockfeld spazieren gegangen ist, wo das Ehepaar eine Eigentumswohnung in der Himmelsthürer Straße bewohnte.</p>
<p>In den Verein Christophorusstift e.V. ist Walter Stürzebecher zusammen mit seiner Frau 1981 eingetreten. Er ist stolz darauf, dass er 2011 mit einer Silbermünze für 30 Jahre Mitgliedschaft ausgezeichnet wurde.</p>
<p>Zu seinem Geburtstag im Juli wird sein Neffe Prof. Dr. <strong>Martin Rößler</strong> auf der Orgel zusammen mit dem Trompeter <strong>Hartmut Zimmermann</strong> in der Kapelle des Christophorusstifts wieder ein Konzert geben. Dafür ist Walter Stürzebecher ebenso dankbar wie dafür, dass die beiden Kinder seiner zweiten Frau, die 2005 verstorben ist, sich liebevoll um ihn kümmern.</p> 
	