---
layout: page
title: Christophorusstiftung Hildesheim
headerimage: stiftung
permalink: /stiftung/
footerinfo:
  - hauszeitung
  - leitbild
  - infomaterial
---

<h3>Ihr Geld in guten Händen</h3> 

<quotation>Man kann nicht in die Zukunft schauen, aber man kann den Grund für etwas Zukünftiges legen - denn Zukunft kann man bauen.
<cite>Antoine de Saint-Exupéry (1900-44), frz. Flieger u. Schriftsteller</cite></quotation> 	

<p>Die Christophorusstiftung stellt sicher, dass es auch in der Zukunft eine würdige und angemessene
Versorgung alter Menschen gibt.</p> 
<p>Wir freuen uns über jede Hilfe, die unsere Stiftung zu Gute kommt. Dabei können Sie Zustifter werden
oder uns durch eine Spende unterstützen.</p>
  
<ul>
<li>Spenden werden grundsätzlich zweckgebunden verwendet.</li>
<li>Bei einer Zustiftung bleibt das von Ihnen zur Verfügung gestellte Kapital vollständig und dauerhaft 	erhalten. Nur erwirtschaftete Zinsen werden für den Stiftungszweck verwendet.</li>
</ul>

<p>Ihre Zustiftungen und Spenden können von der Steuer abgesetzt werden.</p>

<h3>Die Herausforderungen sind groß</h3>	

<p>Viele Menschen in Deutschland  erreichen ein immer höheres Alter. Gleichzeitig werden die Fragen nach 
einer adäquaten Wohnung, nach Betreuung und Pflege immer drängender. Insbesondere die Sicherstellung einer
möglichst individuellen und qualitativ angemessenen Versorgung im Alter wird gesellschaftlich gefordert.</p>


<h3>Moderne Wege der Altenhilfe</h3>

<p>Um auf die vielen Wünsche und Erfordernisse eingehen zu können, unterhält das Christophorusstift in
Hildesheim eine Vielzahl individueller und aufeinander abgestimmter Angebote für Seniorinnen und Senioren.</p>

<p>Schon der Bau des Christophorusstiftes im Jahr 1975 war wegweisend. Die Zimmer des „Altenheims“ waren
Apartments mit ca. 37qm Wohnfläche, die über ein eigenes Duschbad und eine Küchenzeile verfügten. In direkter
Nachbarschaft wurden zunächst 45, im Anschluss bis zum Jahr 1983 dann insgesamt 90 seniorengerechte Wohnungen
errichtet, die per Notruf mit dem Haupthaus verbunden waren und dadurch die Inanspruchnahme von
Serviceleistung ermöglichten.</p>

<p>Mittlerweile hat sich das „Abenteuer des Pastor Bauer“ zu einem Träger von Wohn-, Pflege- und Betreuungsangeboten für über 500 Menschen an drei Standorten in Hildesheim weiterentwickelt.</p>

<h3>Entwicklung braucht Ideen und kostet Geld</h3>

<p>Ohne freiwilliges Engagement und die Unterstützung Vieler wäre die moderne und innovative Arbeit des 
Christophorusstifts gar nicht möglich. Die christliche Nächstliebe und die Beachtung der Gottesebenbildlichkeit des Menschen sind dabei Richtschnur des Handelns. Der langjährige ehrenamtliche Vereinsvorsitzende Architekt Eugen Jung drückte es einmal so aus: „Besonders am Ende des Lebens ist der Nächste jeder, der seine Last nicht mehr alleine tragen kann.“</p> 

<p>Die Rahmenbedingen unserer Arbeit sind allerdings von massiven ökonomischen Einschränkungen geprägt. Das Land 
Niedersachsen gehört zu den Schlusslichtern, was Pflegesätze und Vergütungen angeht. Hier möchte die 
Christophorusstiftung Hildesheim eingreifen, um die moderne Versorgung für pflegebedürftige Menschen in 
Hildesheim zu unterstützen. Außerdem sollen auch innovative Projekte der Altenhilfe gefördert werden.	</p>
 
<p>Wir sind dankbar für jede Spende und freuen uns besonders über Zustiftungen, die dem Stiftungskapital zufließen.</p> 

<h4>Kontakt:</h4>
<p>Christophorusstiftung Hildesheim<br>
Hammersteinstraße 7<br>
31137 Hildesheim<br>
Tel.:	05121/693-0<br>
Fax: 	05121/693-135<br>
<a href="mailto:mail@christophorus-hildesheim.de">mail@christophorus-hildesheim.de</a></p>

<h3>Vorstand:</h3>

<div class="unterschriften">
	<div>
		<div class="job">Dipl.-Ing Arch.</div>
		<div class="name">Eugen Jung</div>
		<div class="position">Vorsitzender</div>
	</div>
	<div>
		<div class="job">Pastor</div>
		<div class="name">Sven Schumacher</div>
		<div class="position">Stv. Vorsitzender</div>
	</div>
	<div>
		<div class="job">Dipl.-Kaufm.</div>
		<div class="name">Karlheinz Albrecht</div>
	</div>
</div>

<h3>Bankverbindung:</h3> 
<p>Christophorusstiftung Hildesheim<br>
Sparkasse Hildesheim<br>
IBAN: DE12 2595 0130 0034 7448 08<br>
BIC: NOLADE21HIK</p>

