---
layout: page
title: Unser Netzwerk
headerimage: netzwerk
permalink: /links/
footerinfo:
  - hauszeitung
  - leitbild
  - infomaterial
---

Das Diakonische Werk in Deutschland<br /><a target="_blank" title="www.diakonie.de" href="http://www.diakonie.de">www.diakonie.de</a><br />
<br />Das Diakonische Werk in Niedersachsen<br /><a target="_blank" title="www.diakonie-hannovers.de" href="http://www.diakonie-hannovers.de">www.diakonie-hannovers.de</a><br />
<br />Unsere evangelische Kirchengemeinde<br /><a target="_blank" title="www.christuskirche-hildesheim.de" href="http://www.christuskirche-hildesheim.de">www.christuskirche-hildesheim.de</a><br />
<br />Unser Architekt<br /><a target="_blank" title="www.architekten-jung.de" href="http://www.architekten-jung.de">www.architekten-jung.de</a><br />
<br />Unsere schöne Stadt<br /><a target="_blank" title="www.hildesheim.de" href="http://www.hildesheim.de">www.hildesheim.de</a><br />
<br />Unsere Orientierung<br /><a target="_blank" title="www.kda-online.de" href="http://www.kda-online.de">www.kda-online.de</a><br />
<br />Unser Partner bei der Betreuung Demenzerkrankter<br /><a target="_blank" title="www.frida-ev.de" href="http://www.frida-ev.de">www.frida-ev.de</a><br />
<br />Unsere Fotografin<br /><a target="_blank" title="www.tinetenz.de" href="http://www.tinetenz.de">www.tinetenz.de</a><br />
<br />Unser Werbefachmann<br /><a target="_blank" title="www.m2werbeagentur.de" href="http://www.m2werbeagentur.de">www.m2werbeagentur.de</a> 
