---
layout: page
title: Der gemeinnützige Verein Christophorusstift e.V.
permalink: /unsere-haeuser/
headerimage: eingangsschild
footerinfo: 
  - hauszeitung 
  - infomaterial 
  - leitbild
---
<p>An drei Standorten ist das Christophorusstift in Hildesheim vertreten:</p>

<p>Mit <a href="/leistungen/wohnstift">Wohnstift</a>,  <a href="/leistungen/betreutes-wohnen">Betreutem Wohnen</a>, <a href="/leistungen/tagespflege">Ambulanter</a> und <a href="/leistungen/stationaere-pflege">Stationärer Pflege</a> in der</p>

<p><a href="/unsere-haeuser/wohnstift">Hammersteinstraße 7</a>, 31137 Hildesheim</p>
<br />
<p>Mit <a href="/leistungen/betreutes-wohnen">Betreutem Wohnen</a>, <a href="/leistungen/ambulant-betreute-wohngemeinschaften">Wohngemeinschaften</a> und <a href="/leistungen/tagespflege">Tagespflege</a> jeweils im</p>

<p><a href="/unsere-haeuser/haus-christophorus">Haus Christophorus</a>, Schützenwiese 37/38, 31137 Hildesheim und im<br/>

<a href="/unsere-haeuser/haus-sankt-georg">Haus Sankt Georg</a>, In der Schratwanne 55/57, 31141 Hildesheim</p>

<h2>Karte mit unseren Häusern</h2>
<iframe src="https://mapsengine.google.com/map/embed?mid=zRgS-z6jE48g.kHr4yjPKVirY" width="450" height="480"></iframe>