---
layout: page
title: Wohnstift
headerimage: eingangsschild
permalink: /unsere-haeuser/wohnstift/
footerinfo: 
  - leistung-wohnstift
  - stationaere-pflege
  - ambulanter-dienst
---
<h3>Herzlich willkommen</h3>

<p>Der Eingangsbereich des Christophorusstifts wurde im Jahr 2006 durch einen repräsentativen Zwischenbau 
modern und neu gestaltet. Links im Foyer finden sich Rezeption und die Verwaltung.</p>

<p>Gleich zur Rechten 
liegt das Stadtteilcafé mit großen, hellen Fenstern und zwei Terrassen zur Nord- und Südseite, 
mit zahlreichen Sitzgruppen und einem Clubraum. Das Café ist ein beliebter Treffpunkt und wird weitgehend 
von ehrenamtlichen Helfern betreut. Die schönen Räumlichkeiten können auch für private Geburtstagsfeiern 
und sonstige Feste genutzt werden.</p>

<p>Neben dem Café ist ein Kiosk untergebracht. Getränke, Zeitschriften, 
Busfahrkarten, Briefmarken und alle Kleinigkeiten des täglichen Bedarfs können hier gekauft werden.</p>

<p>Ein Frisörsalon im Eingangsbereich, die reich bestückte Bibliothek im 4. Obergeschoss und ein 
Gymnastikraum im Untergeschoss stehen allen Bewohnern und Bewohnerinnen zur Verfügung.</p>

<p>Mit dieser 
Ausstattung können wir ein abwechslungsreiches kulturelles Programm anbieten: Reisen, Vorträge, 
Musikveranstaltungen, Diashows, Vorlesestunden, Gedächtnistraining und manchmal sogar Kindertheater 
sind fester Bestandteil unseres Alltags.</p>

{% include figure.html title='Haupthaus, 1-Personenwohnung' thumb='grundrisse/Haupthaus_1PersonenWohnung_thumb.jpg' filename='grundrisse/Haupthaus_1PersonenWohnung.jpg' %}

{% include figure.html title='Haupthaus, 2-Personenwohnung' thumb='grundrisse/Haupthaus_2PersonenWohnung_thumb.jpg' filename='grundrisse/Haupthaus_2PersonenWohnung.jpg' %}

<h3>Leben und Wohnen im Grünen </h3>

<p class="samesame">Die Wohnlage des Christophorusstifts am Rande der Weststadt auf einem großen Grundstück in der Hammersteinstraße gewährt viele Vorteile in angenehmer Umgebung.</p>

<p>Die Naturschutzgebiete Rotts- und Gallberg befinden sich in unmittelbarer Nähe im Westen und schirmen 
allzu heftige Winde ab. Die bewaldeten Kuppen filtern den Staub und sorgen merklich für frische und gesunde 
Luft. Liebevoll gepflegte Haus- und Kleingärten schaffen in dem Stadtteil ein ruhiges Klima mit einer 
vielfältigen Vogelwelt. Die nähere Umgebung lädt zu Spaziergängen ein.</p>

<p>Nach Osten haben unsere Bewohnerinnen und Bewohner einen sehr schönen Ausblick über die Stadt Hildesheim.</p>

<p class="samesame">Das Christophorusstift ist umgeben von einer großzügigen, gepflegten Gartenanlage mit Rasengrün, Bäumen, 
seltenen Gehölzen, Teichen, Wasserspielen, Brunnen, Sitzplätzen, einem dominierenden Glockenturm und 
blühenden Blumen. Wege durchziehen das Gelände, die zu kleinen Spaziergängen oder zum Verweilen einladen. 
Wetter und Jahreszeiten lassen die Eindrücke ständig wechseln. Im Winter werden die Wege stets begehbar 
gehalten.</p>

<p class="samesame">Die Anbindung an die Innenstadt ist günstig. Ein Linienbus hält nur wenige Meter vom Stiftsgelände
entfernt in der Himmelsthürer Straße. Die Nahversorgung mit Lebensmittel- und Getränkemarkt, Post, Arztpraxen 
und Apotheke ist sehr gut.</p>

<h3>Die Apartments</h3>					

<p>Die Apartments des Christophorusstifts sind so gestaltet, dass jedem Bewohner eine unabhängige und 
individuelle Lebensgestaltung innerhalb der großen Stiftsgemeinschaft möglich ist. Jedes Apartment verfügt 
über ein eigenes Telefon, eine Türklingel und einen Briefkasten, einen Notruf und Kabelfernsehen.<br>
Auf Wunsch ist ein Internetanschluss möglich.</p>

<p>Zu allen Apartments gehören eine kleine Einbauküche, ein Wohnraum mit Platz für eine Sitzgarnitur und ein bis 
zwei Schränken, ein Schlafbereich mit Einbauschrank in voller Wandgröße und ein seniorengerechtes 
Badezimmer. Vor dem Wohnzimmer liegt der Balkon.</p>

{% include figure.html title='Haus D, 1-Personenwohnung' thumb='grundrisse/HausD_1PersonenWohnungen_thumb.jpg' filename='grundrisse/HausD_1PersonenWohnungen.jpg' %}

{% include figure.html title='Haus D, 2-Personenwohnung' thumb='grundrisse/HausD_2PersonenWohnungen_thumb.jpg' filename='grundrisse/HausD_2PersonenWohnungen.jpg' %}

<p>Die Einzimmer-Apartments haben eine Größe von circa 37qm und sind zum Osten oder zum Westen hin orientiert.<br>
Die Zweizimmer-Apartments messen circa 53qm und liegen überwiegend auf der Ostseite mit schöner Aussicht über die Stadt.</p>

<h3>Würdig in freundlicher Umgebung leben	</h3>

<p>Eine niveauvolle Umgebung, hohe Qualitätsstandards und ein Bewusstsein für ein freundliches Miteinander werden im Pflegebereich des Christophorusstifts gelebt. Menschen, die auf Grund ihrer Pflegebedürftigkeit nicht durch ambulante oder teilstationäre Pflege versorgt werden können, finden hier ein Zuhause.</p>
<p>Unseren Bewohnerinnen und Bewohnern stehen ausschließlich Einzelzimmer zur 
Verfügung.</p>
<p>Der Pflegebereich befindet sich im ersten Obergeschoss des Christophorusstifts und ist in vier Wohnbereiche aufgeteilt. Jeder Wohnbereich verfügt über circa zwölf Zimmer mit einer gemütlichen Wohnküche. Jedem Bereich sind eigene Pflegekräfte zugeordnet, so erreichen wir eine größtmögliche Nähe zu den Bedürfnissen unserer Bewohner.</p>

<h3>Qualität ist nicht nur ein Wort</h3>

<p>Das Team des Pflegebereichs besteht aus examinierten Alten- und Krankenpflegekräften sowie erfahrenen Pflegehelferinnen und Hauswirtschaftskräften.<br>
Die Pflege wird unter ständiger Verantwortung einer ausgebildeten leitenden Pflegefachkraft durchgeführt.</p>

<p>Bei der Auswahl der Mitarbeiter legen wir größten Wert auf fachliche Qualifikation, soziale Kompetenz, Kommunikationsvermögen, Fortbildungsbereitschaft und Teamgeist. Viele unserer Fachkräfte verfügen zusätzlich über besondere pflegefachliche Spezialausbildungen in Wundmanagement, Gerontopsychiatrie und anderen Fachrichtungen.</p>

<p>So können wir eine fach- und bedarfsgerechte Pflege gewährleisten, die sich stets an den allgemein anerkannten pflegewissenschaftlichen Erkenntnissen orientiert. Mit den Haus- und Fachärzten besteht eine gute Zusammenarbeit.</p>

<h3>Richtig wichtig, weil lecker &ndash; die Küche</h3>

<p>Im Speisesaal treffen sich Stiftsbewohner und Gäste täglich zweimal. Morgens und mittags werden die 
Mahlzeiten gemeinsam eingenommen. Das Abendessen nehmen unsere Bewohner bereits morgens von „rollenden 
Theken“ mit und sind damit für den Rest des Tages in angenehmer Weise ungebunden.</p>

<p>Im Speisesaal trifft man alte und neue Bekannte und spricht über aktuelle Themen. Der Speisesaal ist 
das Kommunikationszentrum, in dem die Stiftsbewohner und -bewohnerinnen wichtige Informationen bekommen. 
Eine Anwesenheitspflicht gibt es natürlich nicht, und jeder Stiftsbewohner kann sich die Mahlzeiten
gegen einen Servierzuschlag auch in sein Apartment liefern lassen.</p>

<p class="samesame">Die in der Regel dreigängigen Mittagsmenüs werden täglich frisch zubereitet. Dabei finden Kostformen für Magen-, Galle- und Leberkranke, Diabetes und Schonkost selbstverständlich Berücksichtigung. Außerdem wird täglich ein vegetarisches Gericht angeboten.</p>

<h3>Nahrung für die Seele &ndash; in der Kapelle</h3>

<p>Die Kapelle bildet den Mittelpunkt des geistlichen Lebens im Christophorusstift. Hier finden alle 
Gottesdienste statt, die nicht nur von Stifts-, sondern auch von Stadtteilbewohnern gern besucht werden. 
Das Christophorusstift ist eine evangelische Einrichtung, unterliegt aber keinen satzungsgemäßen 
Aufnahmebeschränkungen für Angehörige anderer Konfessionen und Weltanschauungen.</p>

<p>Die Kapelle ist großzügig ausgestattet mit einem Altar aus Meißner Porzellan, einer klangvollen 
Beckerath-Orgel, einem großen Wandgemälde und sechs bleiverglasten Fenstern. In Anlehnung an das Wort 
Jesu: <em>„Selig sind die Barmherzigen; denn sie werden Barmherzigkeit erlangen“</em> (Matth. 5,7) zeigen 
die Fensterbilder Werke der Nächstenliebe und der Barmherzigkeit.</p>

<p>Die christliche Ausrichtung des Christophorusstifts wird auch dadurch unterstrichen, dass in jeder Woche 
neben dem sonntäglichen Gottesdienst eine Bibelstunde und eine Morgenandacht gehalten werden und vor der 
gemeinsamen Hauptmahlzeit am Mittag ein Tischgebet gesprochen wird.</p>

