---
layout: page
title: Ambulanter Dienst
headerimage: ambulante_pflege_1
permalink: /leistungen/ambulanter-dienst/
footerinfo: 
  - leitbild
  - haus-wohnstift
  - wohnungen
  - christophorus
---
<h3>Leistungen für ein selbstbestimmtes Leben:<br />Unsere Angebote im Überblick</h3>

<h4 class="listenheading">Information und Beratung in allen Pflegefragen</h4>
<ul>
<li>Pflegebesuche nach §37 SGB XI </li>
<li>Vermittlung von Kurzzeit- und vollstationärer Pflege</li>
<li>Vermittlung von Zusatzdiensten (z.B. Friseur, Fußpflege und Krankengymnastik)</li>
<li>Hilfe bei der Beschaffung von Pflegehilfsmitteln</li>
<li>Pflegeanleitung</li>
</ul>

<h4 class="listenheading">Pflege</h4>
<ul>
<li>Körperpflege</li>
<li>Behandlungspflege</li>
<li>Alle Leistungen nach SGB V häusliche Krankenpflege und SGB XI Pflegeversicherung</li>
<li>Betreuungsleistungen bei eingeschränkter Alltagskompetenz</li>
</ul>

<h4 class="listenheading">Hauswirtschaftliche Leistungen</h4>
<ul>
<li>Unterstützung bei der Hausarbeit</li>
<li>Hilfe beim Einkauf</li>
<li>Wäscheservice</li>
</ul>

<h4 class="listenheading">24 Stunden Rufbereitschaft</h4>

<h4 class="listenheading">24 Stunden Pflegebereitschaft (Hausnotruf) in den Häusern des Christophorusstift e.V.</h4>

<h4 class="listenheading">Kulinarisches und Kulturelles</h4>
<ul>
<li>Essen auf Rädern in den Häusern des Christophorusstift e.V. und im Betreuten Wohnen am Propsteihof</li>
<li>Mittagstisch im Christophorusstift</li>
<li>Veranstaltungen im Christophorusstift</li>
<li>Stadtteilcafé</li>
</ul>
<h3>Selbständigkeit zu Hause erhalten</h3>

<p>Bereits im Mittelalter sahen sich Nonnenklöster durch die Not ringsumher veranlasst, 
„extra muros“ zu arbeiten. Das hieß für die Schwestern damals, ihre Klostermauern zu 
verlassen und die Kranken- und Altenpflege auch außerhalb ihrer eigenen Kommunität 
wahrzunehmen.<br>
Auch heute wird die häusliche Pflege vom Gesetzgeber vorrangig unterstützt.</p>

<p>Es ist ein verständlicher Wunsch, in den eigenen vier Wänden alt werden zu können. 
Wenn es zu Krankheit oder Pflegebedarf kommt, kann dieser Wunsch schnell zur Last werden. 
Unser Ambulanter Dienst Christophorus hilft in diesem Falle schnell und zuverlässig
schon seit 1996.</p>

<p>Beim Ambulanten Dienst handelt es sich um ein Angebot innerhalb einer umfassenden 
Versorgungskette. Jeder soll die Hilfe erhalten können, die er in seiner Situation benötigt. Ändert sich der Bedarf, stehen ihm weitere Hilfsangebote zur Verfügung.</p>

<h3>Kompetenz und Freundlichkeit</h3>

<p>Eine wesentliche Aufgabe des Ambulanten Dienstes Christophorus besteht darin, Menschen 
bei eintretendem Pflegebedarf so zu betreuen, dass eine selbstbestimmte Lebensführung in 
ihrer eigenen Häuslichkeit möglichst lange und sicher gewährt bleibt. Die Bedürfnisse und 
Wünsche jedes Einzelnen stehen dabei im Vordergrund. Dabei sollen die Angehörigen so weit 
wie möglich mit einbezogen werden.</p>

<p>Der Ambulante Dienst Christophorus versorgt die Bewohner und Mieter des Wohnstifts, 
der Häuser des Betreuten Wohnens, der betreuten Wohngemeinschaften und natürlich auch 
Vereinsmitglieder und Patienten im Raum Hildesheim.</p>

<p>Alle Wohneinheiten des Christophorusstifts sind mit Notruftasten versehen und stellen 
somit eine „Rund-um-die-Uhr-Versorgung“ durch den Ambulanten Dienst sicher.</p>

<h3>Qualität ist nicht nur ein Wort</h3>

<p>Für unsere Patienten bieten wir Pflege im Alter, bei Krankheit und Behinderung. 
Wir geben Anleitung zur Selbsthilfe sowie Unterstützung bei der Rehabilitation und 
übernehmen auf Wunsch auch die hauswirtschaftliche Versorgung.</p>

<p>Das Team des Pflegebereichs besteht aus examinierten Kranken-, Alten- und Familienpflegekräften sowie erfahrenen Pflegehelferinnen und Hauswirtschaftskräften.<br>
Die Pflege wird unter ständiger Verantwortung einer ausgebildeten leitenden Pflegefachkraft durchgeführt.</p>

<p>Bei der Auswahl der Mitarbeiter legen wir größten Wert auf fachliche Qualifikation, 
soziale Kompetenz, Kommunikationsvermögen, Fortbildungsbereitschaft und Teamgeist. Viele 
unserer Fachkräfte verfügen zusätzlich über besondere pflegefachliche Spezialausbildungen 
in Wundmanagement, Gerontopsychiatrie und anderen Fachrichtungen.</p>

<p>So können wir eine fach- und bedarfsgerechte Pflege gewährleisten, die sich stets an den allgemein anerkannten pflegewissenschaftlichen Erkenntnissen orientiert.</p>

<p>Die Kosten der Pflege, der Betreuung und auch der hauswirtschaftlichen Leistungen 
übernehmen die Kranken- oder Pflegekassen nach den gesetzlichen Bestimmungen der 
Sozialgesetzbücher V und XI.</p>
<p>Sollten beide Versicherungen die anfallenden Kosten nicht vollständig abdecken, bezahlen das Sozialamt oder der Patient den Differenzbetrag.</p>
<p class="samesame">Gern helfen unsere Fachkräfte bei der Beantragung der Pflegestufe und 
beraten Pflegebedürftige und deren Angehörige schon vor der Antragstellung. Vereinbaren 
Sie dazu einfach einen Termin für ein persönliches Gespräch mit unserer Verwaltung unter 
der Rufnummer 0 51 21 / 693-180.</p>

<p>Auf Wunsch stehen unsere Mitarbeiter auch für Wahlleistungen zur Verfügung.</p>

<h3>Frisch gekocht auf den Tisch</h3>

<p>Bewohner der Wohnanlagen des Christophorusstifts und des Betreuten Wohnens am 
Propsteihof können unseren Essen-Bringdienst nutzen, der jeden Tag heiße Mahlzeiten 
liefert.</p>
<p class="samesame">Die in der Regel dreigängigen Mittagsmenüs werden täglich frisch in 
der Küche des Christophorusstifts zubereitet. Dabei finden Kostformen für Magen-, Galle-und Leberkranke, für Diabetes und Schonkost selbstverständlich Berücksichtigung. Außerdem wird täglich ein vegetarisches Gericht angeboten.</p>

<p>Anfragen und Bestellungen nimmt der Ambulante Dienst unter 0 51 21 / 693-693 entgegen.</p>
