---
layout: page
title: Leitbild
headerimage: bild-1
permalink: /verein/leitbild/
footerinfo: 
  - infomaterial 
  - leitbild
---
<p><span class="text_rot_kursiv">Wir sind da, wo alte Menschen Hilfe brauchen</span><br />Der Verein Christophorusstift e.V. erfüllt seine Aufgabe im Sinne des christlichen Glaubens und folgt in seinem Tun der tätigen Nächstenliebe, wie sie von Jesus Christus in der Bibel überliefert wird.<br /><br />Unser diakonischer Auftrag hat die Achtung der Würde und der Persönlichkeit eines jeden Menschen als Grundlage.<br />Als Namenspatron des Vereins fungiert der heilige Christophorus.<br /><br />Unter diesem Auftrag sehen wir es auch als unsere Aufgabe an, alten Menschen und deren Angehörigen in schweren Stunden und in der letzten Lebensphase begleitend zur Seite zu stehen.<br /><br />Wir bieten älteren Menschen ab etwa 60 Jahren mit und ohne Hilfebedarf und unabhängig von ihrer Konfession ein vielfältiges Wohn-, Pflege- und Dienstleistungsangebot.<br />Es soll alten Menschen auch bei eintretendem Hilfebedarf eine möglichst sichere und zugleich selbstbestimmte Lebensführung ermöglichen.<br /><br /></p>
<table class="passbildtabelle" border="0">
<tbody>
<tr>
<td valign="top"><img class="passbild" src="/images/bildarchiv/jung.jpg" border="0" alt="Eugen Jung Vorsitzender des Christophorusstift e.V." width="77" height="97" style="margin: 6px 6px 20px;" /></td>
<td valign="top">Eugen Jung<br /> <em>Vorsitzender des<br /> Christophorusstift e.V.</em></td>
</tr>
<tr>
<td valign="top"><img class="passbild" src="/images/bildarchiv/schumacher.jpg" border="0" alt="Sven Schumacher Geschäftsführer von Christophorusstift e.V. und gemeinnütziger GmbH" title="Sven Schumacher Geschäftsführer von Christophorusstift e.V. und gemeinnütziger GmbH" width="76" height="97" style="margin: 6px 6px 20px;" /></td>
<td valign="top">Sven Schumacher<br /> <em>Geschäftsführer von<br /> Christophorusstift e.V.<br /> und gemeinnütziger GmbH</em></td>
</tr>
</tbody>
</table> 
	