---
layout: page
title: Menü-Bringdienst
headerimage: menuebringdienst
permalink: /leistungen/menue-bringdienst/
---

<p>Die Mieterinnen und Mieter unserer Häuser und die Bewohner des Betreuten Wohnens am Propsteihof versorgen wir gerne mit unseren frisch gekochten Mittagsmenüs.</p>

<p>Für weitere Informationen wenden Sie sich bitte telefonisch (<span class="telefonnummer">05121/693-112</span>) an unsere Küche.</p>