---
layout: page
title: Preise
headerimage: netzwerk
permalink: /preise/
footerinfo:
  - hauszeitung
  - leitbild
  - infomaterial
---

<h3 class="celle_grau" style="display: block;">Wohnstift</h3>
<p>der Preis beinhaltet:</p>
<ul>
<li>Miete und Mietnebenkosten, </li>
<li>Reinigung der Apartments, Fensterputzen, Wäsche waschen, </li>
<li>Vollverpflegung (Frühstück, Mittagessen, Kaffee und Abendbrot), </li>
<li>Unterhaltungs- und Kulturprogramm. </li>
</ul>
<p>Sonderleistungen auf Anfrage. <br />Bei Krankheit und Pflegebedürftigkeit wenden Sie 
sich an unseren Ambulanten Dienst. </p>
<h4>Apartments für eine Person</h4>
<table class="tabelle querstreifen">
<tbody>
<tr>
<td>19 qm</td>
<td>1.252,59 €</td>
</tr>
<tr>
<td>37 qm</td>
<td>1.776,82 €</td>
</tr>
<tr>
<td>53 qm</td>
<td>2.670,82 €</td>
</tr>
</tbody>
</table>
<h4>Apartments für zwei Personen</h4>
<p>
<table class="tabelle">
<tbody>
<tr>
<td>53 qm</td>
<td>3.553,64 €</td>
</tr>
</tbody>
</table>
</p>
<h3 class="celle_grau" style="display: block;">Ambulanter Dienst Christophorus</h3>
<p>Die Leistungen für ambulante Pflege werden individuell entsprechend der vorliegenden Pflegebedürftigkeit vereinbart. Die Pflegekassen unterstützen die Finanzierung der Pflege mit Zuschüssen in Form von Pflegesachleistungen und/oder Pflegegeld.</p>
<p>Gerne beraten wir Sie hierzu ausführlicher und unterstützen auch bei Antragstellungen im Rahmen von Pflegeleistungen. </p>

<h3 class="celle_grau" style="display: block;">Betreutes Wohnen in Seniorenwohnungen<br />Standorte Hammersteinstraße und in der Schützenwiese</h3>

<table style="width: 100%;" class="tabelle querstreifen">
<tbody>
<tr>
<td class="left"><strong>Mietpreis</strong></td>
<td>5,41 bis 8,42 €/qm</td>
</tr>
<tr>
<td class="left"><strong>Nebenkosten</strong></td>
<td>ca. 3,00 bis 3,40 €/qm</td>
</tr>
<tr>
<td class="left"><strong>Summe</strong></td>
<td><strong>8,41 oder 11,82 €/qm</strong></td>
</tr>
<tr>
<td class="left"><strong>plus Betreuungspauschale</strong></td>
<td>eine Person &nbsp; &nbsp; 51,13 €/mtl.<br /> zwei Personen 76,69 €/mtl.</td>
</tr>
</tbody>
</table>
<p>Die obligatorische Betreuungspauschale umfasst z.B.: 
<ul>
<li>24-Stunden-Notrufbereitschaft über Notruftelefon und -taster, </li>
<li>allgemeine Ansprechbarkeit, </li>
<li>Vermittlung von Dienstleistungen usw. </li>
</ul>
<p>Bei Krankheit und Pflegebedürftigkeit wenden Sie sich an unseren Ambulanten Dienst.</p>
<h3 class="celle_grau" style="display: block;">Betreute Wohngemeinschaft</h3>
<p>Standorte Haus Sankt Georg und im Haus Christophorus.</p>
<p>Kosten je nach Größe des Zimmers zwischen 1.361,65 und 1.900,00 €/mtl.</p>
<p>Betreuung und Pflege erfolgt durch den Ambulanten Dienst.</p>
<p>Lassen Sie sich bitte beraten.</p>
<h3 class="celle_grau" style="display: block;">Teilstationäre Pflege</h3>
<p>Tagespflege im Haus Sankt Georg und im Haus Christophorus.</p>
<p>Kosten je nach Pflegestufe von 50,25 bis 55,75 €/Tag zzgl. Fahrtkosten.</p>
<p>Bei Erfüllung der Voraussetzungen werden die Pflegekosten anteilig durch die Pflegekassen übernommen. </p>
<p>Lassen Sie sich bitte beraten. </p>
<h3 class="celle_grau" style="display: block;">Vollstationäre Pflege<br />&nbsp; Pflegewohnbereich Hammersteinstraße</h3>
<p>die monatlichen Pflegesätze betragen:</p>
<table class="tabelle querstreifen">
<tbody style="text-align: left;">
<tr>
<th>Pflegestufe</th>
<th>Einzelzimmer</th>
<th>Leistungen der Pflegekasse im Monat bei Pflege&shy;bedürftig&shy;keit</th>
<th>Monatlicher Eigen&shy;anteil nach Ver&shy;rech&shy;nung der Lei&shy;stungen der Pflege&shy;kassen</th>
</tr>
<tr>
<th>Stufe 1</th>
<td>2.384,93 €</td>
<td>1.023,00 €</td>
<td>1.361,93 €</td>
</tr>
<tr>
<th>Stufe 2</th>
<td>2.792,56 €</td>
<td>1.279,00 €</td>
<td>1.513,56 €</td>
</tr>
<tr>
<th>Stufe 3</th>
<td>3.197,45 €</td>
<td>1.550,00 €</td>
<td>1.647,45 €</td>
</tr>
</tbody>
</table>
