---
layout: page
title: Leistungen
headerimage: wohnen-1
permalink: /leistungen/
footerinfo: 
  - leitbild
  - haus-wohnstift
  - wohnungen
  - christophorus
---
<h3>Ein Angebot für jede Lebenssituation</h3>

<p>Ein selbstbestimmtes Leben im Alter ist oft nur mit Unterstützung möglich.<br /> 
Der Christophorus e.V. möchte Hilfen für einen lebenswerten Alltag im Alter bieten. Unser Angebot richtet sich daher nach den Bedürfnissen unserer Bewohner, die das Passende aus verschiedenen Wohn- und Pflegekonzepten wählen können:</p>

<ul>
<li>Das <a href="/leistungen/wohnstift/" class="stark">Wohnstift</a> verfügt über 87 Wohnplätze als 
Ein- oder Zweizimmer-Apartment in der Hammersteinstraße 7 und 13. Auch das <a href="/" class="stark">Stadtteilcafé</a> ist in diesem Haus zu finden. </li>

<li>Wir bieten <a href="/leistungen/betreutes-wohnen/" class="stark">Betreutes Wohnen</a> mit 90 seniorengerechten 
Wohnungen in der Hammersteinstraße und der Himmelsthürer Straße.<br />
Im Haus Christophorus in der Schützenwiese verfügen wir über weitere 37 großzügige 
und seniorengerechte Wohnungen.</li>
<li><a href="/leistungen/ambulant-betreute-wohngemeinschaften/" class="stark">Ambulant betreute Wohngemeinschaften</a> bieten wir
  sowohl im Haus Christophorus (Schützenwiese) als auch im Haus Sankt Georg (Itzum).</li>

<li>Die Erhaltung von Alltagsfertigkeiten und sozialen 
  Kompetenzen ist das Ziel der <a href="/leistungen/tagespflege/" class="stark">Teilstationären 
  Pflege (Tagespflege)</a>. Abhängig vom Krankheitsbild fördern wir die Bewohner individuell. Pflegende
  Angehörige können sich in allen Christophorus-Häusern beraten lassen. </li>

<li>Manchmal genügt etwas Zeit, um wieder auf die
  Beine zu kommen. In der <a href="/leistungen/stationaere-pflege/" class="stark">Stationären Pflege / 
  Kurzzeitpflege</a> im Christophorusstift halten wir
  62 Pflegeplätze mit examinierten Alten- und Krankenpflegekräften bereit.  </li>

<li>Der <a href="/leistungen/ambulanter-dienst/" class="stark">Ambulante Pflegedienst</a> ermöglicht den
  Verbleib im gewohnten häuslichen Umfeld und den
  Erhalt eines selbstbestimmten Alltags für Kunden
  in ganz Hildesheim. Unser <a href="/leistungen/menue-bringdienst/" class="stark">Menü-Bringdienst</a>
  sichert dabei die hauswirtschaftliche Versorgung.  </li>
</ul>     
