---
layout: page
title: Ehrenamtliches Engagement im Christophorusstift e.V.
headerimage: ehrenamt
permalink: /ehrenamt/
footerinfo:
  - leitbild
  - hauszeitung
  - infomaterial
---
<h3>Sie sind da, wo alte Menschen Hilfe brauchen.</h3> 

<p>Gut, dass es Sie gibt. Denn unsere ehrenamtlichen Helfer/innen ermöglichen uns Angebote, die es ohne sie gar nicht gäbe.  
Das Stadtteilcafé im Christophorusstift ist nur ein gutes Beispiel für uneigennütziges Engagement, bei dem man Sinnvolles beitragen kann.
Unsere ‘Ehrenamtlichen’ haben dabei die Möglichkeit zur Mitgestaltung - und lernen viele nette Menschen kennen, mit denen sich der Austausch lohnt.</p>

<p>Aber auch außerhalb des Cafés freuen wir uns über jede Hilfe, wenn Sie:</p>

<ul>
<li>nette Leute kennenlernen möchten.</li>
<li>Freude daran haben, ‘gebraucht‘ zu werden.</li>
<li>Ihre Fähigkeiten und Kenntnisse nutzen möchten.</li>
<li>Ihre Freizeit sinnvoll nutzen möchten.</li>
<li>Spaß an Tätigkeiten mit und für Menschen haben.</li>
</ul>

<h3>Wir sind da, wo alte Menschen Hilfe brauchen.</h3> 

<p>Der gemeinnützige Verein Christophorusstift e.V. hat viel zu bieten. Als Träger des Christophorusstifts im Hildesheimer Bockfeld, des Haus Christophorus an der Schützenwiese und des Hauses Sankt Georg in Itzum bieten wir Wohnen, Betreuung und Pflege für ältere Menschen mit vielen individuellen Möglichkeiten an.</p>

<p>Christlicher Glaube und Nächstenliebe sind stets Leitbild unseres Handelns, die zusammengenommen als Diakonie
eine Wesensform unserer Evangelischen Kirche darstellen.</p>

<p>Ein respektvoller Umgang mit unseren Bewohnern und deren Teilhabe an den Einrichtungen und Angeboten unseres Vereins gehören selbstverständlich dazu.</p>

<p>Treibende Kraft bei der Gründung des Vereins und dem Bau des Christophorusstiftes in den 70er Jahren des 
letzten Jahrhunderts war der Moritzberger Pastor Heinz Bauer. Durch die große Hilfs- und Spendenbereitschaft 
vieler Menschen war es möglich, das Evangelische Christophorusstift zu errichten und im Juli 1977 zu 
eröffnen.<br>
In der weiteren Entwicklung bis zum heutigen Tage hat der Verein Christophorusstift immer wieder modernste 
Konzepte der Altenhilfe umgesetzt und dabei neue Wege beschritten.</p>

<h3>Im Ehrenamt ist vieles möglich</h3>

<p>Von Anfang an spielte in unserem Verein das ehrenamtliche Engagement vieler Menschen eine tragende Rolle. 
Ohne diese wertvolle Beteiligung wäre das Christophorusstift in dieser Form höchst&shy;wahrscheinlich gar nicht möglich gewesen.</p>

<p>Das freiwillige Engagement zieht sich dabei quer durch den gesamten Verein:    
Beispielsweise in unserem Stadtteilcafé, das von 14.00 bis 17.00 täglich (bis auf wenige Ausnahmen) als 
Treffpunkt der Bewohnerinnen und Bewohner und auch des gesamten Stadtteils geöffnet hat. </p>

<p>Ausschließlich ehrenamtlich engagierte Menschen sorgen für den Betrieb. Das Café ist Marktplatz und 
Wohnzimmer gleichzeitig, Umschlagplatz für Tratsch, fester Treffpunkt im Tageslauf und am Nachmittag das summende Zentrum des Christophorusstifts.</p>

<p>Von Küche und Hauswirtschaft zur Verfügung gestellte leckere Torten und Kuchen stehen zum Verkauf bereit. Auch Familienfeiern zu fröhlichen und traurigen Anlässen finden hier statt.</p>



<p>Wem eher die persönliche Begleitung oder der individuelle Kontakt wichtig ist, hat die Möglichkeit, im 
 Pflegebereich Menschen durch gemeinsame Spaziergänge, Vorlesen oder Gespräche zu begleiten.</p> 

<p>Auch die regelmäßig erscheinende Zeitschrift CHRISTOPHORUS für die etwa 650 Vereinsmitglieder,  alle 
Bewohnerinnen und Bewohner sowie Interessenten wird durch einen ehrenamtlichen Redaktionskreis 10 mal im Jahr 
vorbereitet und produziert.</p>

<p>Dankbar sind wir für Vorträge aller Art, Musik und Veranstaltungen – kurzum: für jede Hilfe.<br>
Wer möchte, kann sich auch für einen selbstbestimmten Zeitraum bei uns engagieren.</p>

<p>Für weitere Informationen sprechen Sie uns bitte an: </p>

<h4>Kontakt</h4>
<p>Christophorusstift e.V.<br>
Herr Sven Schumacher<br>
Geschäftsführer<br>
Telefon: 05121/693-0<br>
Fax: 	05121/693-135<br>
<a href="mailto:mail@christophorus-hildesheim.de">mail@christophorus-hildesheim.de</a></p>

<p>Ihr<br>

<strong>Eugen Jung</strong><br>
(ehrenamtlicher) Vereinsvorsitzender</p>

