---
layout: page
title: Betreutes Wohnen
headerimage: wohnen-1
permalink: /leistungen/betreutes-wohnen/
footerinfo:
  - leitbild
  - wohnungen
  - christophorus
---
<h3>Unabhängig und selbstbestimmt leben	</h3>

<h4>Die Idee</h4>

<p><em>Bei größtmöglicher Eigenständigkeit sicher und komfortabel leben.</em>
 Das ist die Philosophie für das Leben in einer Betreuten Wohnung des
 Christophorusstifts.</p>

<p>Unsere Bewohnerinnen und Bewohner finden eine niveauvolle Umgebung bei Erhaltung
der persönlichen Freiheiten. Ein in jeder Wohnung installiertes Notrufsystem und der direkte Kontakt zum Ambulanten Dienst des Christophorusstifts sorgen für Sicherheit.</p>

<p>Die Anbindung an ein großes Haus gewährleistet viele Annehmlichkeiten. Unsere 
Serviceleistungen sind dabei nach Bedarf individuell abrufbar.</p>
<p>Weiterhin haben unsere Mieter die Gewissheit, in Notsituationen Tag und Nacht einen Ansprechpartner zu haben.</p>

<h3 class="samesame">Sicher und komfortabel wohnen</h3>

<h4>Die Wohnungen</h4>

<p>Die Wohnungen des Christophorusstift e.V. befinden sich an zwei Standorten in Hildesheim &mdash; in der Hammersteinstraße in Hildesheim-Bockfeld und in der Schützenwiese 37/38 im Zentrum der Stadt.<br>
Alle Wohnungen sind mit einer kombinierten Telefon/Notrufanlage, einem Balkon, einem Küchenraum, einem Kellerraum und Kabelfernsehen ausgestattet.</p> 
  
<p>In Zusammenarbeit mit der Sankt Georg GmbH werden In der Schratwanne in Hildesheim-Itzum ebenfalls Betreute Wohnungen angeboten.</p>	

<p>Die Wohnungen in der Hammersteinstraße sind zwischen 42 und 70qm groß, die Wohnungen 
im Haus Christophorus in der Schützenwiese bieten zwischen 65 und 100qm Wohnfläche. Unsere Bewohner im Haus Sankt Georg in Itzum verfügen über Räumlichkeiten zwischen 45 und 90qm.</p>

<p>Ziel des Betreuten Wohnens ist es, für ältere Menschen innerhalb einer lebendigen 
Gemeinschaft den Rahmen für eine unabhängige Lebensweise zu schaffen und gleichzeitig die 
nötigen Dienste vorzuhalten, wenn Einschränkungen in der Selbstständigkeit auftreten.</p>

<p>Die 24 Stunden-Notfallbetreuung durch den Ambulanten Dienst Christophorus und die 
Teilnahmemöglichkeit an kulturellen Veranstaltungen und Feierlichkeiten (zum Teil mit
einem Kostenbeitrag) sind in der obligatorischen Betreuungspauschale enthaltenen.</p>

<p>Ferner halten wir ein umfangreiches Angebot an wählbaren Serviceleistungen zur 
Entlastung von alltäglichen Verpflichtungen vor &ndash; beispielsweise den Essenbringdienst 
und den Hausmeisterservice.</p>

<p>Bei Krankheit oder Pflegebedürftigkeit können die Angebote des Ambulanten Dienstes Christophorus, der Tagespflege, der ambulant betreuten Wohngemeinschaften und des Pflegewohnbereichs im Christophorusstift in Anspruch genommen werden.</p>

<p>Die aktuellen Preise für die Miete, Mietnebenkosten und die obligatorische Betreuungspauschale finden Sie in unserer Preisliste in der Vereinszeitung „CHRISTOPHORUS“.</p>

<h3>Leben und wohnen im Grünen</h3>	

<p>Für das Betreute Wohnen in der Hammersteinstraße stehen vier Häuser mit insgesamt 90 
Wohnungen zur Verfügung. Sie liegen am Rande der Weststadt in angenehmer Umgebung. Rotts- 
und Gallberg schirmen allzu heftige Westwinde ab. Die bewaldeten Kuppen filtern den Staub und sorgen für frische und gesunde Luft. Liebevoll gepflegte Haus- und Kleingärten schaffen in dem Stadtteil ein ruhiges Klima mit einer vielfältigen Vogelwelt. Die nähere Umgebung lädt zu geruhsamen Spaziergängen ein.</p>

<p>Nach Osten erschließt sich dem Betrachter ein schöner Ausblick über die Stadt „im Potte“.<br>
Die Anbindung an die Innenstadt ist günstig. Ein Linienbus hält nur wenige Meter vom 
Stiftsgelände entfernt in der Himmelsthürer Straße. Die Nahversorgung mit Lebensmittel- und Getränkemarkt, Post, Arztpraxen und Apotheke ist sehr gut.</p>

<h4>... umgeben von einer großzügigen, gepflegten Gartenanlage</h4>

<p>Die „betreuten Wohnhäuser“ in der Hammersteinstraße sind umgeben von großzügigen, 
gepflegten Gartenanlagen mit Rasengrün, Bäumen, seltenen Gehölzen, Teichen, Wasserspielen, 
Brunnen, Sitzplätzen, einem dominierenden Glockenturm und blühenden Blumen. Wege, die zu 
kleinen Spaziergängen oder zum Verweilen einladen, durchziehen das Gelände. Wetter und 
Jahreszeiten lassen die Eindrücke ständig wechseln. Auch im Winter werden die Wege stets 
begehbar gehalten.</p>

<p>Die Wohnungen sind zwischen 42 und 70qm groß und bis auf wenige Ausnahmen direkt mit einem Aufzug zu erreichen. Die Ausrichtung der Apartements ist zum Süden oder Westen.</p>

<h3>Stadtnahes Wohnen bei hohem Komfort ...</h3>

<p>In der Schützenwiese 37/38, nahe der Hildesheimer Innenstadt und direkt am Fluss 
Innerste im städtischen Grüngürtel (Seniorengraben und Liebesgrund) hat der Verein 
Christophorusstift e.V. im Jahr 2001 das „Haus Christophorus“ neu gebaut und eröffnet.</p> 	
<h4>... mit Blick auf den Liebesgrund und den Dom</h4>
<p>Die Seniorenwohnanlage beherbergt im Erdgeschoss mit Atrium und Sinnesgarten vier ambulant betreute Wohngemeinschaften für pflegebedürftige Menschen und eine Tagespflegeeinrichtung.<br>
In den zwei bis drei darüber liegenden Etagen befinden sich 37 Betreute Wohnungen mit zwei bis vier Zimmern und Wohnflächen zwischen 60 und 100qm.</p>	 

<p>Zwei Aufzüge ermöglichen einen barrierefreien Zugang zu den seniorengerechten Wohnungen, 
die über einen Laubengang erschlossen werden. Sie sind komfortabel ausgestattet mit 
Telefon, Kabelfernsehanschluss und einer Notrufanlage.</p> 

<p>Zu jeder Wohnung gehören ein Keller und &mdash; falls gewünscht &mdash; ein Parkplatz in 
der Tiefgarage. Alle Wohnräume sind nach Süden oder Osten ausgerichtet und bieten über die Innerste hinweg einen Blick auf die Stadt mit ihren alten Kirchen, Klöstern und Grünanlagen.</p>
<p>Die Mieter der Betreuten Wohnungen können den Sinnesgarten und das Foyer des Hauses im Erdgeschoss auch für sich nutzen.</p>

<h3>Im Süden Hildesheims gut betreut leben</h3>

<p>Im 2011 eröffneten Haus Sankt Georg bieten das Christophorusstift und die Sankt Georg GmbH
in Zusammenarbeit 25 Betreute Wohnungen an. Die Vermietung erfolgt über die Sankt Georg 
GmbH, während die im Haus befindlichen Wohngemeinschaften und die Tagespflege vom
Christophorusstift angeboten werden.</p> 
<p>Die Betreuung der Wohnungen erfolgt &mdash; wie in allen anderen Häusern des
Christophorusstifts auch &mdash; durch Mitarbeiterinnen und Mitarbeiter des Ambulanten
Dienstes Christophorus.<br>
Ferner befindet sich im Haus eine Praxis für Physiotherapie.</p>
<p>Die 25 Wohnungen haben zwei bis vier Zimmer und sind zwischen 45 und 90qm groß.</p>

