---
layout: page
title: Wohnstift
headerimage: stiftung
permalink: /leistungen/wohnstift/
footerinfo:
  - leitbild
  - haus-wohnstift
  - ambulanter-dienst
---

<h3>Ein sanfter Übergang - eine gute Idee</h3>

<p class="samesame"><em>Bei größtmöglicher Eigenständigkeit im Alter sicher und komfortabel leben.</em>
Das ist die Philosophie für das Leben in einem Apartment des Christophorusstifts.</p>

<p>Die Bewohnerinnen und Bewohner leben hier in Ein- oder Zweizimmer-Apartments in idyllischer 
Umgebung mit vielen Annehmlichkeiten und Serviceleistungen.</p>

<p>Besonders wichtig ist dabei, dass sie zu jeder Tages- und Nachtzeit einen Ansprechpartner haben. Dieses gibt ein Gefühl großer Sicherheit für den Fall einer eintretenden Notsituation. Natürlich sind auch geplante ambulante pflegerische Hilfen möglich.</p>

<h3>Mehr (vom) Leben</h3>

<p>Eine niveauvolle Umgebung ist unseren Bewohnerinnen und Bewohnern so wichtig wie die persönliche Freiheit.
Christophorus-Wohnstift-Mietern stehen viele Annehmlichkeiten zur Verfügung. Umfangreiche hauswirtschaftliche 
Serviceleistungen machen ein möglichst selbstständiges Leben bei gleichzeitiger Entlastung von alltäglichen 
Verpflichtungen möglich. So sind die Vollpension (vier Mahlzeiten), die Reinigung des Apartments und das Waschen der persönlichen Kleidung im Wohnstiftsatz enthalten.</p>

<p class="samesame">Bei Krankheit oder Pflegebedürftigkeit können die Angebote des Ambulanten Dienstes Christophorus, des Pflegewohnbereichs im Christophorusstift, der Tagespflege und der Pflege-Wohngemeinschaften im Haus Christophorus und im Haus Sankt Georg in Anspruch genommen werden.</p>

