---
layout: page
title: Zwei Generationen im Christophorusstift
headerimage: bild-1
permalink: /verein/zwei-generationen/
footerinfo: 
  - infomaterial 
  - leitbild
---
<h3>Der Vater geht, der Sohn kommt</h3>

<p><strong>Alfred Hemmerich</strong> ist „gut einsetzbar als Mädchen für alles", so stand es einmal in 
einer Ausgabe des CHRISTOPHORUS. Dass dieser Satz stimmt, beweist „unser" ehemaliger Hausmeister, der
seit einigen Jahren mit seiner Frau im Haus 13 der Betreuten Wohnungen lebt, bis zum heutigen Tage. 
Nicht nur, dass er jede Woche die Vorbereitungen für die sonntäglichen Gottesdienste erledigt; er packt
auch sonst zu, wenn irgendwo Not am Mann ist.</p>

<p>Alfred Hemmerich, Jahrgang 1934, hatte einen bewegten Berufsweg hinter sich, als er 1984 seinen Dienst 
als Hausmeister im Christophorusstift aufnahm und ihm bis zu seinem Renteneintritt 1997 treu blieb.</p>

<p>Nach dem Verlassen der Grundschule im Jahr 1950 lernte er das Tischlerhandwerk. Dort war er lange Jahre tätig, wechselte dann später zur Firma Kloth-Senking, um als Gießer zu arbeiten. Doch Alfred Hemmerich, der seine Familie mit zwei jungen Söhnen zu versorgen hatte, ist jemand, dem wirtschaftliche Sicherheit immer wichtig war. Diese war dort zu der Zeit nicht mehr unbedingt gewährleistet.</p>

<p>So bewarb er sich bei der Bundesbahn und sauste im Fahrdienst einige Zeit mit Schienenbussen durch die Gegend. In seiner Freizeit kam er seiner musikalischen Leidenschaft nach und trat in den Eisenbahnerchor ein, in dem er immer noch mitsingt.</p>

<p>Da er nach fünf Jahren bei der Bundesbahn an einen anderen Ort versetzt werden sollte, das aber nicht wollte, wechselte der ursprüngliche  „Holzwurm" wieder zur Tischlerei. „Dieses war jedoch nur für fünf Jahre möglich", erzählt er, „da die Firma dicht machte."</p>

<p>Und damit endete das bewegte Berufsleben von Alfred Hemmerich. Es bot sich dem inzwischen Achtundvierzigjährigen die Möglichkeit, als Hausmeister im Christophorusstift anzufangen. Hier erlebte er manches, was man sich heute nicht mehr vorstellen kann:  Der Schnee wurde auf dem großen Gelände noch lange per Hand geschippt, da eine Maschine nicht finanzierbar war. Wenn es ganz viel Schnee gab, half sogar Chefkoch <strong>Horst Wilhelmi</strong> mit. Das Unkraut, wie die Wildkräuter früher hießen, musste per Hand abgemäht werden. Es war auch selbstverständlich, dass Alfred Hemmerich als Cheffahrer fungierte.</p>

<p>Die Leidenschaft des allseits beliebten Hausmeisters war schon immer die Musik: Er erfreute die Stiftsbewohner wöchentlich mit seiner elektronischen Orgel  - heute nennt man sie Keyboard – und seinem Akkordeon. Sein Eisenbahnerchor hatte im Stift regelmäßige Auftritte unter der Leitung des inzwischen verstorbenen <strong>Otto Lintz</strong>. Dort sang Alfred Hemmerich natürlich mit.</p>

<p>Bei der Verabschiedung in den Ruhestand 1997 zeichnete ihn der Vorsitzende <strong>Eugen Jung</strong> für seine verdienstvolle Tätigkeit mit der silbernen Christophorus-Ehrenplakette aus.</p>

<p>Alfred Hemmerich ist heute nach wie vor hier und da im Christophorusstift zu sehen und hilft, wenn und wo es ihm möglich ist, verschiedentlich auch im Haus Sankt Georg in Itzum.</p>

<p>1998 hat sein jüngster Sohn <strong>Ralf</strong> eine Hausmeistertätigkeit für das Stift und das Haus Christophorus übernommen. Der ebenso wie sein Vater immer freundliche junge Mann wurde 1970 geboren und ist gelernter Elektriker. Er ist verheiratet und hat zwei Kinder.</p> 
	