---
layout: page
title: Der gemeinnützige Verein Christophorusstift&nbsp;e.V.
permalink: /verein/
headerimage: verein
footerinfo: 
 - hauszeitung 
 - infomaterial 
 - leitbild
---

<p>Der Hilfebedarf von älteren Menschen auf dem Moritzberg und den damals neu entstehenden
Stadtteilen im Bochfeld und Godehardikamp veranlasste den Pastor der Christuskirchengemeinde
Heinz Bauer 1969 den gemeinnützigen Verein "Altenheim an der Christuskirche" zu gründen. 
Daraus entstand 1972 der eingetragene Verein und später der Christophorusstift e.V.</p>

<p>'Unser' Christophorusstift mit seinen Einrichtungen und Diensten ist ein Werk der Diakonie 
mit dem Anspruch, im Geist des christlichen Glaubens tätig zu werden.<br>
Das ist ein hohes Ziel der Nachstenliebe auf der Grundlage der Achtung der Würde und der 
Persönlichkeit eines jeden Menschen.</p>

<h3>"Wir sind da, wo alte Menschen Hilfe brauchen."</h3>

<p>So lautet unser Wahlspruch. Diese Hilfe bieten wir in den betreuten Wohnungen,
dem Wohnstift, den Wohngemeinschaften und durch die ambulante, teilstationäre und
vollstationäre Pflege an. Dabei orientieren wir uns an den Wünschen der Menschen, den 
aktuellen Erkenntnissen der Pflegewissenschaaft und den Möglichkeiten, die die 
Sozialgesetzgebung einräumt.</p>

<p>Etwa 190 engagierte und kompetente ehrenamtliche und hauptamtliche Mitarbeiterinnen 
und Mitarbeiter tragen dafür Sorge, dass ein guter Geist in den Häusern und Diensten des 
Christophorusstifts herrscht.</p>

<p>In unserem Verein ist in den über 40 Jahren seines Bestehens ein ausgeprägtes Bewusstsein 
von aktiver Gemeinschaft gewachsen, das das Zusammenleben erleichtert und stärkt. Dies ist
ein gutes Fundament für unsere Bewohnerinnen, Bewohner und Betreuten in Gegenwart und 
Zukunft.</p>

<div class="unterschriften">
	<div>
		<div class="job">Dipl.-Ing. Arch.</div>
		<div class="name">Eugen Jung</div>
		<div class="position">Vereinsvorsitzender</div>
	</div>
	<div>
		<div class="job">Dipl.-Pflegew.(FH)</div>
		<div class="name">Ellen Haberland</div>
		<div class="position">Fachbereichsleitung Pflege</div>
	</div>
	<div>
		<div class="job">Pastor</div>
		<div class="name">Sven Schumacher</div>
		<div class="position">Geschäftsführer</div>
	</div>
</div>