---
layout: page
title: Stationäre Pflege
permalink: /leistungen/stationaere-pflege/
headerimage: ambulante_pflege
footerinfo: 
  - leitbild 
  - haus-wohnstift
---
<h3>Würdig in freundlicher Umgebung leben	</h3>

<p>Eine niveauvolle Umgebung, hohe Qualitätsstandards und ein Bewusstsein für ein freundliches Miteinander werden im Pflegebereich des Christophorusstifts gelebt. Menschen, die auf Grund ihrer Pflegebedürftigkeit nicht durch ambulante oder teilstationäre Pflege versorgt werden können, finden hier ein Zuhause.</p>
<p>Unseren Bewohnerinnen und Bewohnern stehen ausschließlich Einzelzimmer zur 
Verfügung.</p>
<p>Der Pflegebereich befindet sich im ersten Obergeschoss des Christophorusstifts und ist in vier Wohnbereiche aufgeteilt. Jeder Wohnbereich verfügt über circa zwölf Zimmer mit einer gemütlichen Wohnküche. Jedem Bereich sind eigene Pflegekräfte zugeordnet, so erreichen wir eine größtmögliche Nähe zu den Bedürfnissen unserer Bewohner.</p>
<p>Der Begleitende Dienst sorgt mit seinem Angebot für viel Abwechslung im Tagesablauf:	<br />
ob Zeitungsrunde, gemeinsames Backen und Kochen oder Gedächtnistraining. Ein auf die persönlichen Möglichkeiten abgestimmtes Angebot wird ergänzt durch den sonntäglichen Gottesdienst und die Teilnahmemöglichkeit an den Kulturveranstaltungen des Christophorusstifts.</p>
<p>Die Versorgung wird entsprechend der gesetzlichen Vorgaben und im Geist unseres christlichen Bekenntnisses gewährleistet. <br />
Die Kosten der Versorgung im Pflegebereich richten sich nach der von der Pflegekasse anerkannten Pflegestufe. Hinzu kommt ein von der Pflegestufe abhängiger Eigenanteil, der normalerweise vom Pflegebedürftigen zu entrichten ist. <br />
Weitere Kosten entstehen lediglich für Frisörbesuche, Fußpflege und Zusatzleistungen.	</p>

<p>Gern helfen unsere Fachkräfte bei der Beantragung der Pflegestufe und beraten Pflegebedürftige und deren Angehörige schon vor der Antragstellung. Vereinbaren Sie dazu einfach einen Termin für ein persönliches Gespräch mit unserer Verwaltung unter der Rufnummer <span class="nowrap"><strong>0 51 21 / 693-290</strong></span>.	</p>

<h3>Qualität ist nicht nur ein Wort</h3>

<p>Das Team des Pflegebereichs besteht aus examinierten Alten- und Krankenpflegekräften sowie erfahrenen Pflegehelferinnen und Hauswirtschaftskräften.<br>
Die Pflege wird unter ständiger Verantwortung einer ausgebildeten leitenden Pflegefachkraft durchgeführt.</p>

<p>Bei der Auswahl der Mitarbeiter legen wir größten Wert auf fachliche Qualifikation, soziale Kompetenz, Kommunikationsvermögen, Fortbildungsbereitschaft und Teamgeist. Viele unserer Fachkräfte verfügen zusätzlich über besondere pflegefachliche Spezialausbildungen in Wundmanagement, Gerontopsychiatrie und anderen Fachrichtungen.</p>

<p>So können wir eine fach- und bedarfsgerechte Pflege gewährleisten, die sich stets an den allgemein anerkannten pflegewissenschaftlichen Erkenntnissen orientiert. Mit den Haus- und Fachärzten besteht eine gute Zusammenarbeit.</p>

<h3>Leben und wohnen im Grünen</h3>

<p class="samesame">Das Christophorusstift ist umgeben von einer großzügigen, gepflegten Gartenanlage mit Rasengrün, Bäumen, seltenen Gehölzen, Teichen, Wasserspielen, Brunnen, Sitzplätzen, einem dominierenden Glockenturm und blühenden Blumen. Wege durchziehen das Gelände, die zu kleinen Spaziergängen oder zum Verweilen einladen. Die Verkehrsanbindung an die Innenstadt ist günstig. Ein Linienbus der Linie 4 hält nur wenige Meter vom Stiftsgelände entfernt.</p>

<h3>Das leibliche Wohl ist wichtig</h3>

<p>Die Wohnküchen sind der Treffpunkt der Wohngruppen. Mahlzeiten werden meist in einer Tischgemeinschaft eingenommen. Bei Bedarf ist für individuelle Hilfe gesorgt. Selbstverständlich können die Mahlzeiten aber auch ins Zimmer gebracht werden.<br>
Die in der Regel dreigängigen Mittagsmenüs werden täglich frisch zubereitet. Selbstverständlich berücksichtigen wir Kostformen für Magen-, Galle- und Leberkranke, für Diabetes und Schonkost. Außerdem wird täglich ein vegetarisches Gericht angeboten.</p>
