<!DOCTYPE html>
<html>

  {% include head.html %}
  <body class="jekyll">
  {% include fontsize.html %}
  {% include linie.html %}
  <div id="inhalt">
  {% include header.html %}
  {% include menu.html %}

        {{ content }}
  {% include footer.html %}
  </div>
  {% include kopfbild-inject.html %}
  </body>

</html>
