---
layout: default
---

{% assign image = site.data.images[page.headerimage] %}
<div id="page">
	<div id="beitrag">
		<div id="header-img">
				<img
				src="/images/header/{{ image.headerimage }}" alt="{{ image.headeralt }}"
				/>
		</div>
		<div class="item-page">
    		<h2 class="post-title">{{ page.title }}</h2>
    {{ content }}
		</div>
	</div>

