---
layout: page
title: Ambulant betreute Wohngruppen
headerimage: wohngemeinschaft
permalink: /leistungen/ambulant-betreute-wohngemeinschaften/
footerinfo: 
  - leitbild
  - ambulanter-dienst
  - wohnungen
  - christophorus

---

<h3>Gestaltung intdidueller Pflege- und Betreuungssituationen</h3>

<p>In zwei Häusern des Christophorusstifts können Seniorinnen und Senioren mit Pflege- und Betreuungsbedarf die Vorteile der direkten Kombination ambulanter und teilstationärer Leistungen der Pflegeversicherung nutzen.</p>

<p>Als Bewohnerinnen und Bewohner der ambulant betreuten Wohngemeinschaften (jeweils 6 bis 9 Personen) werden Sie von erfahrenen Kräften umfassend betreut und über den Tag 24 Stunden hinweg begleitet.</p>

<p>Für die erforderliche Grund- und Behandlungspflege sorgt der Ambulante Dienst Christophorus sicher und bedarfsgerecht. In der kleinen Gemeinschaft können intdiduelle Wünsche und Bedürfnisse gut wahrgenommen werden. Die Mitwirkung von Angehörigen bei der Gestaltung des Lebens in der Wohngemeinschaft ist nicht nur möglich, sondern im Rahmen des Konzeptes &ndash; und der Möglichkeiten der Angehörigen natürlich &ndash; wünschenswert.</p>
<p>Neue Perspektiven werden insbesondere durch die Kombination ambulanter (in der Wohngemeinschaft) und teilstationärer Leistungen (in der Tagespflege) eröffnet. Die Pflegeversicherung unterstützt diese Form der Pflegeorganisation umfassend.</p>

<h3>Das steht Ihnen zu: monatliche Leistungen der Pflegeversicherung für ambulante und teilstationäre Pflege</h3>

<p>Durch die geschickte Kombination können zum derzeitigen Stand (1.1.2015) folgende Leistungen der Pflegeversicherung in Anspruch genommen werden:</p>

<figure>
	<table class="tabelle laengsstreifen">
		<thead class="head">
		<tr>
		  <th></th>
			<th colspan="3">Pflegestufe</th>
		</tr>
		<tr>
		<th></th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		</tr>
		</thead>
		<tbody class="body">
		<tr class="row">
			<th>Pflegesachleistung ambulant</th>
			<td>468,- bis 689,- €</td>
			<td>1.144,- bis 1.298,- €</td>
			<td>1.612,- €</td>
		</tr>
		<tr class="row">
					<th>Leistung für Tagespflege</th>
			<td>468,- bis 689,- €</td>
			<td>1.144,- bis 1.298,- €</td>
			<td>1.612,- €</td>
		</tr>
		<tr class="row">
					<th>zus. Betreuungsleistung 45b SGB XI</th>
			<td>104,- bis 208,- €</td>
			<td>104,- bis 208,- €</td>
			<td>104,- bis 208,- €</td>
		</tr>
		<tr class="row">
					<th>Wohngruppenzuschlag</th>
			<td>205,- €</td>
			<td>205,- €</td>
			<td>205,- €</td>
		</tr>
		<tr class="row">
					<th>Leistungen SGB XI insgesamt</th>
			<td>1.245,- bis 1.791,- €</td>
			<td>2.597,- bis 3.009,- €</td>
			<td>3.533,- bis 3.637,- €</td>
		</tr>
	</tbody>
	</table>
	<figcaption>Tabelle: Das steht Ihnen zu: monatliche Leistungen der Pflegeversicherung für ambulante und teilstationäre Pflege (seit dem 1.1.2015)</figcaption>
</figure>

<h3>Für Ihre Fragen stehen wir Ihnen gerne zur Verfügung</h3>

<p>Zwei Betreute Wohngemeinschaften finden Sie im:</p>

<h4><span class="einrichtung">Haus Sankt Georg</span> {% include hauslink.html haus='georg' %}</h4>
<p class="adresse">In der Schratwanne 55 und 57 <br>
31141 Hildesheim</p>
 
<p>und vier Wohngemeinschaften im:</p>
<h4><span class="einrichtung">Haus Christophorus</span> {% include hauslink.html haus='christophorus' %}</h4>
<p class="adresse">Schützenwiese 37/38<br>
31137 Hildesheim</p>

<p>In beiden Häusern besteht auch die Möglichkeit der Tagespflege.</p>

<p>Weitere Informationen erhalten Sie gerne bei unserem</p>
<h4><span class="einrichtung">Ambulanten Dienst</span></h4>
<p>Sven Salchow: Tel. 0 51 21 · 693 180</p>	 
 
<h4>im <span class="einrichtung">Haus Christophorus</span></h4>
<p>Katrin Möllering: Tel. 0 51 21 · 28 40 800</p>

<h4>oder im <span class="einrichtung">Haus Sankt Georg</span>:</h4>
<p>Monika Behrens: Tel. 0 51 21 · 93 56 330</p>

<h3>Kostenbeispiele für die monatlichen Kosten</h3>
<figure>
<table class="tabelle querstreifen">
<tbody>
<tr>
<td class="left">Warmmiete ab</td>
<td>780,- €</td>
</tr>
<tr>
<td class="left">Lebensmittelkosten (ca. 5,- €/Tag)</td>
<td>ca. 150,- €</td>
</tr>
<tr>
<td class="left">Verbrauchsmittel / Reinigung ca.</td>
<td>150,- €</td>
</tr>
<tr>
<td class="left">Unterstützungsleistungen ab ca.</td>
<td>600,- €</td>
</tr>
<tr>
<td class="left">Zusammen ab</td>
<td>1.680,- €</td>
</tr>
<tr>
<td class="left">Abzüglich Erstattung Pflegekasse für den Wohngruppenzuschlag</td>
<td>-205,- €</td>
</tr>
<tr>
<td class="left">Monatliche Kosten ab</td>
<td>1.475,- €</td>
</tr>
<tr>
<td class="left" colspan="2">Dem Bewohner der Wohngemeinschaft stehen ferner die oben angegebenen Leistungen 
der Pflegeversicherung zur Sicherung seiner Betreuung und pflegerischen Versorgung zur Verfügung.</td>
</tr>
</tbody>
</table>
<figcaption>Tabelle: Kostenbeispiele (Monatliche Kosten, Stand 02.2015)</figcaption>
</figure>